<div class="widget-box">
	<div class="widget-header">
		<h4 class="widget-title lighter">Available time off</h4>
		<div class="widget-toolbar no-border">
			<a href=""  data-ng-click="refreshPortfolio()"> <i class="ace-icon fa fa-refresh green"></i></a>
			<a href="" data-toggle="collapse" data-target="#absencePortfolioBody"> <i class="ace-icon fa fa-chevron-up"></i></a>
		</div>
	</div>
	<div class="widget-body collapse" style="display: block;" id="absencePortfolioBody">
		<div class="widget-main padding-6 no-padding-left no-padding-right">
			<div class="progress">
				<div class="progress-bar progress-bar-striped "
					data-ng-class="{'progress-bar-success':$index==1,'progress-bar-warning':$index==2,'progress-bar-info':$index==3,'progress-bar-danger':$index==4}"
					style="width: {{portfolio.remaining*100/totalPortfolioRemaining}}%"	data-ng-repeat="portfolio in absencePortfolio"	title="{{portfolio.typeAbsenceDTO.label}} {{portfolio.remaining*100/totalPortfolioRemaining |number:0 }}%">
					<span class="sr-only">portfolio.remaining*100/totalPortfolioRemaining</span>
					{{portfolio.typeAbsenceDTO.label | characters:15}}
					{{portfolio.remaining*100/totalPortfolioRemaining |number:0 }}%
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-xs-12"
					data-ng-repeat="portfolio in absencePortfolio">
					<div class="col-md-8 col-xs-6">
						<span>{{portfolio.typeAbsenceDTO.label}}: </span>
					</div>
					<div class="col-md-4 col-xs-2">
						<span> <strong>{{portfolio.remaining}}</strong>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>