<div class="popover">
	<div class="arrow"></div>
	<h3 class="popover-title" ng-bind="title" ng-show="title"></h3>
	<div class="popover-content">
		<form role="form">
			<div class="form-group">
				<label for="selectEmployee">Employees</label> <select
					class="form-control" id="selectEmployee" class="form-control"
					data-chosen="" data-ng-change="selectProject(project)" multiple
					data-placeholder="Select employee" data-ng-model="foundEmployees"
					data-ng-options="format(ce) for ce in companyEmployees">
					<option value=""></option>
				</select>
			</div>
			<br>
			<button type="submit" data-ng-click="addSelectedEmployees(activeTask,foundEmployees,$hide)"
				class="btn btn-success btn-xs btn-block" data-ng-disabled="foundEmployees==undefined || foundEmployees.length==0">Add employees</button>
		</form>
	</div>
</div>