<div class="popover">
  <div class="arrow"></div>
  <h3 class="popover-title" ng-bind="title" ng-show="title"></h3>
  <div class="popover-content" ng-bind="content">
  	
  </div>
</div>
<form editable-form name="editableForm" onaftersave="saveUser()">
<div>
<span class="title">Type: </span>
<span editable-select="newAbsence.typeAbsence" e-name="typeAbsence" onshow="loadAbsenceTypes()"  e-ng-options="a.name as a.label for a in absencesTypes">
	{{ newAbsence.typeAbsence.label || 'Type' }}
</span>
</div>
<div>
<span class="title">Description: </span>
<span editable-text="newAbsence.description" e-name="description">
	{{ newAbsence.description || 'Description' }}
</span>
</div>
<div>
<span class="title">¨Period: </span>
<span editable-select="newAbsence.period" e-name="period"  e-ng-options="p.name as p.label for p in absencePeriods">
	{{ newAbsence.period || 'Period' }}
</span>
</div>
<div class="buttons">
     <!-- button to show form -->
     <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
       Edit
     </button>
     <!-- buttons to submit / cancel form -->
     <span ng-show="editableForm.$visible">
       <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
         Save
       </button>
       <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
         Cancel
       </button>
     </span>
</div>
</form>
<<table>
  <tr>
    <th>Column 1 Heading</th>
    <th>Column 2 Heading</th>
  </tr>
  <tr>
    <td>Row 1: Col 1</td>
    <td>Row 1: Col 2</td>
  </tr>
</table>

