<div class="modal" id="editionFormModal" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" ng-click="$hide()">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h3 data-ng-show="!edition" class="panel-title">Add entry</h3>
				<h3 data-ng-show="edition" class="panel-title">Edit entry</h3>
			</div>
			<div class="modal-body" >
				<form role="form" class="form-horizontal">
					<div class="form-group">
						<label for="project-select" class="col-md-2" >Project</label>
						<div class="col-md-6">
							<input id="project-select" data-ui-select2="projectSelectOptions" data-ng-model="project" data-placeholder="Select a project">
							</input>
						</div>
					</div>
					<div class="form-group">
						<label for="task-select" class="col-md-2">Task</label>
						<div class="col-md-6">
							<input id="task-select" data-ui-select2="projectSelectOptions" data-ng-model="task" data-placeholder="Select a Task">
							</input>
						</div>
					</div>
					<div class="form-group">
						<label class="radio-inline col-md-4 col-md-offset-2">
						  <input type="radio" name="optionsRadios" data-ng-model="timeType" id="durationCheckBox" value="duration"> Duration
						</label>
						<label class="radio-inline  col-md-4 col-md-offset-2">
						  <input type="radio" name="optionsRadios" data-ng-model="timeType" id="timeCheckBox" value="time"> Time
						</label>
					</div>
					<div class="form-group" data-ng-show="timeType=='time'">
						<label for="timeStartDate" class="control-label col-md-2" style="text-align: left;">When</label>
						<div class="col-md-2">
							<input type="text" class="form-control" ng-model="timeStartDate"
								data-autoclose="1" placeholder="Date" bs-datepicker>
						</div>
						<div class="col-md-2">
							<input type="text" class="form-control" ng-model="timeStartDate"
								data-autoclose="1" placeholder="Time" bs-timepicker>
						</div>
						<label for="timeStartDate" class="control-label col-md-2">To</label>
						<div class="col-md-2">
							<input type="text" class="form-control col-md-2"
								ng-model="timeEndDate" data-autoclose="1" placeholder="Date"
								bs-datepicker>
						</div>
						<div class="col-md-2">
							<input type="text" class="form-control" ng-model="timeEndDate"
								data-autoclose="1" placeholder="Time" bs-timepicker>
						</div>
					</div>
					<div class="form-group" data-ng-show="timeType=='duration'">
						<label for="durationStartDate" class="control-label col-md-2" style="text-align: left;">Date</label>
						<div class="col-md-3">
							<input type="text" class="form-control" ng-model="durationStartDate"
								data-autoclose="1" placeholder="Date" bs-datepicker>
						</div>
					</div>
					<div class="form-group">
						<label for="noteDescription" class="control-label col-md-2">Description</label> 
						<div class="col-md-6">
							<textarea  id="noteDescription" class="form-control"
								data-ng-model="description"		placeholder="Description (facultatif)"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary"
					data-ng-click="postAttachement($hide)" data-ng-show="!edition">Post</button>
				<button type="button" class="btn btn-primary"
					data-ng-click="putNote()" data-ng-show="edition">Edit</button>
				<button type="button" class="btn btn-link" data-ng-click="$hide()" data-dismiss="modal">Cancel</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
