<div class="modal" id="editionAbsencesFormModal" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" data-ng-click="$hide()">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h3 data-ng-show="!edition" class="panel-title">Nouvelle note
					de frais</h3>
				<h3 data-ng-show="edition" class="panel-title">Edition de la
					note de frais</h3>
			</div>
			<div class="modal-body scrollable-y">
				<form data-role="form" >
						<fieldset>
							<legend>General info</legend>
							<div class="form-group">
								<label for="companyName">Company name</label>
								<input type="text" data-ng-model="company.name"  placeholder="Name" class="form-control" id="companyName">
							</div>
							<div class="form-group">
								<label for="registeredDate">Registered date</label>
								<div class="input-group" id="registeredDate">
									<input type="text" class=" form-control " name="registeredDate"
										data-ng-model="company.registeredDate" placeholder="Registered date"
										data-bs-datepicker />
									<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								</div>								
							</div>
							<div class="form-group">
								<label for="licenseEndDate">License end date</label>
								<div class="input-group" id="licenseEndDate">
									<input type="text" class=" form-control " name="registeredDate"
										data-ng-model="company.licenseEndDate" placeholder="License end date"
										data-bs-datepicker />
									<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								</div>								
							</div>
						</fieldset>
						<fieldset>
							<legend>Contacts</legend>
								
								<fieldset data-ng-repeat="contact in company.contacts">
									<legend>Contact</legend>
									<div class="form-group">
										<label for="email">Email</label>
										<input type="email" data-ng-model="contact.email" class="form-control" id="email">
									</div>
									<div class="form-group">
										<label for="tel">Tel</label>
										<input type="text" data-ng-model="contact.numeroTelephone" class="form-control" id="tel">
									</div>
								</fieldset>
								<button type="button" class="btn btn-default" data-ng-click="addContact()">Add contact</button>
						</fieldset>
					</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary"
							data-ng-click="postCompany($hide)" data-ng-show="!edition" >Submit</button>
						<button type="button" class="btn btn-success"
							data-ng-click="putAbsence()" data-ng-show="edition" >Edit</button>
				<button type="button" class="btn btn-link" data-ng-click="$hide()" data-dismiss="modal">Cancel</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
