<div class="modal" id="editionAbsencesFormModal" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" ng-click="$hide()">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h3 data-ng-show="!edition" class="panel-title">Add timeoff</h3>
				<h3 data-ng-show="edition" class="panel-title">Edit timeoff</h3>
			</div>
			<div class="modal-body">
				<form role="form" >
						<div class="form-group">
							<label for="typeAbsence">Type absence</label>
							<select ng-model="currentAbsence.typeAbsence" placeholder="Please select" ng-options="type.name for type in absencesType"></select>
<!-- 							<button id="typeAbsence"   type="button" class="btn btn-default form-control" ng-model="selectedAction" data-html="0" data-ng-options="type.name as type.label for type in absencesType" data-bs-select> -->
<!-- 							  Action <span class="caret"></span> -->
<!-- 							</button> -->
						</div>
						<div class="form-group">
							<label for="absenceDescription">(Facultatif)</label> <input
								type="text" class="form-control" id="absenceDescription"
								data-ng-model="currentAbsence.description"
								placeholder="Enter a description">
						</div>
						<div class="form-group">
							<label for="datepicker">Select date range</label>
							<div class="input-group" id="datepicker">
								<input type="text" class=" form-control " name="start"
									ng-model="currentAbsence.startDate" placeholder="From"
									bs-datepicker /> <span class="input-group-addon">to</span> <input
									type="text" class=" form-control " name="end"
									ng-model="currentAbsence.endDate" placeholder="Until"
									bs-datepicker />
							</div>
						</div>
						<div class="form-group">
							<label> <input type="checkbox" class=""
								ng-model="currentAbsence.startAfternoon" /> <span>Start
									from afternoon</span>
							</label>
						</div>
						<div class="form-group">
							<label> <input type="checkbox" class=""
								ng-model="currentAbsence.endMorning" /> <span>End after
									morning</span>
							</label>
						</div>
					</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary"
							data-ng-click="postAbsence($hide)" data-ng-show="!edition" >Submit</button>
						<button type="button" class="btn btn-success"
							data-ng-click="putAbsence()" data-ng-show="edition" >Edit</button>
				<button type="button" class="btn btn-link" data-ng-click="$hide()" data-dismiss="modal">Cancel</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
