<div class="modal" id="editionFormModal" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" ng-click="$hide()">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h3 data-ng-show="!edition" class="panel-title">Add client</h3>
				<h3 data-ng-show="edition" class="panel-title">Edit employe</h3>
			</div>
			<div class="modal-body" >
				<form role="form" class="">
					<div class="form-group">
					    <label for="name">{{'form.edit.client.name' | translate}}</label>
					    <input type="text" data-ng-model="client.name" class="form-control" id="name" placeholder="{{'form.edit.client.name' | translate}}" required autofocus="autofocus">
					 </div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary"
					data-ng-click="postClient ($hide)" data-ng-show="!edition">Save</button>
				<button type="button" class="btn btn-primary"
					data-ng-click="editEmploye()" data-ng-show="edition">Edit</button>
				<button type="button" class="btn btn-link" data-ng-click="$hide()" data-dismiss="modal">Cancel</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
