<div class="popover timesheet-event">
	<div class="arrow"></div>
	<div class="popover-title">
		<div class="row">
			{{event.title}}
		<span class="label pull-right" data-ng-class="{'label-success' : isValidated(event) , 'label-warning' : isWaiting(event), 'label-danger' : isRejected(event)}">{{event.validationStatus}}</span>	
		</div>
			
	</div>
	<div class="popover-content">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-md-4 control-label">Description</label>
				<div class="col-md-8">
					<p class="form-control-static">{{event.description}}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label">Start</label>
				<div class="col-md-8">
					<p class="form-control-static">{{event.start | date : 'short'}}</p>
				</div>
			</div>
			<div class="form-group" data-ng-show="event.type!=='DURATION'">
				<label class="col-md-4 control-label">End</label>
				<div class="col-md-8">
					<p class="form-control-static">{{event.end | date : 'short'}}</p>
				</div>
			</div>
			<div class="form-group" data-ng-show="event.type==='DURATION'">
				<label class="col-md-4 control-label">Duration</label>
				<div class="col-md-8">
					<p  data-ng-show="event.duration" class="form-control-static">{{event.duration}} mins</p>
				</div>
			</div>
			<div class="row pull-right">
				<button type="button" class="btn btn-link" data-ng-click="$hide()">Close</button>
				<button type="button" class="btn btn-danger"
					data-ng-click="deleteEvent(event);$hide()"><i class="fa fa-trash-o"></i>Delete</button>
			</div>
		</form>
	</div>
</div>