<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.titled}">YACRA Invitation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Dear 
        </p>
        <p th:text="#{yacra.mail.invitation.text1}">
            Your are invited to create YACRA account , please click on the URL below to create your account:
        </p>
        <p>
            <a th:href="@{{baseUrl}/auth/invitation/accept(baseUrl=${baseUrl},token=${invitationToken},user=${invitationUsername},company=${invitationCompany})}"
               th:text="${invitationUsername}">Accept invitation</a>
        </p>
        <p>
            <span th:text="#{yacra.mail.signature1}">Regards, </span>
            <br/>
            <em th:text="#{yacra.mail.signature2}">Yacra Team.</em>
        </p>
    </body>
</html>