<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">YACRA acount activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.greeting(${user.firstName},${user.lastName})}">
            Dear 
        </p>
        <p th:text="#{email.password.recovery.text1(${resetPassword})}">
            Your YACRA account has been created, please click on the URL below to activate it:
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">Yacra Team.</em>
        </p>
    </body>
</html>