 <div class="row">
	<h3><strong><a href="#" onaftersave="updateProject(project)" buttons="no" editable-text="project.name">{{ project.name || 'Project Name' | uppercase}}</a></strong>
	</h3>
	
	<span class="text-muted">Created on {{project.createdDate  | date:'medium'}}</span>
</div>
<div class="row">
	<form class="form-inline">
		<div class="form-group">
		    <label for="color">{{'form.edit.project.color' | translate}}</label>
		    <div class="input-group">
			  <span class="input-group-addon" style="background-color: {{project.color}};">&nbsp;</span>
			  <input data-colorpicker class="form-control" type="text" data-ng-model="project.color" placeholder="Choose a color" />
			</div>
		 </div>
		 <button type="submit" class="btn btn-success btn-sm" data-ng-click="updateProject(project)">Save color</button>
	</form>
</div>
<div class="well well-sm">
	Description
	<h4><strong><a href="#" onaftersave="updateProject(project)" editable-textarea="project.description"  e-rows="7"><pre>{{ project.description || 'Project Description' }}</pre></a></strong></h4>
</div>
<hr>
<h3  class="header smaller lighter blue"><strong>{{project.numberOfTasks}}</strong> attached task(s) & <strong>{{employeesByProject.length}}</strong> employee(s) assigned</h3>
<!-- <h3 data-ng-if="!groupByTask" class="header smaller lighter blue">{{employeesByProject.length}} employee(s) assigned</h3> -->
<div class="row">
	<div class="col-md-6">
		<div class="input-group input-group-sm">
			<span class="input-group-addon "><i class="fa fa-search"></i></span>
			<input type="text" data-ng-model="employeesFilter" class="form-control"
				placeholder="Search employee"> 
		</div>
	</div>
	<div class="col-md-6">
		<div class="input-group input-group-sm">
			<span class="input-group-addon "><i class="fa fa-search"></i></span>
			<input type="text" data-ng-model="tasksFilter" class="form-control"
				placeholder="Filter task"> <span class="input-group-btn">
				<button class="btn btn-success"
					data-ng-click="addContact(dataObject)">
					<i class="fa fa-plus"></i> Add Task
				</button>
			</span>
		</div>
	</div>
</div>
<div class="checkbox">
    <label>
      <input type="checkbox" data-ng-model="groupByTask"> Group by task
    </label>
  </div>
<hr>
<div class="am-fade" data-ng-if="groupByTask" data-ng-repeat="task in project.tasks | searchField: 'name': 'description' | filter: tasksFilter">
	<h5 ><strong>{{task.name | uppercase}} <span  class="text-muted" data-ng-if="employeeByTask[task.id].length>0">{{employeeByTask[task.id].length}} assigned employees</span></strong>
	<button  type="button" class="btn btn-link btn-xs" data-ng-click="selectActiveTask(task)" data-title="Select employee ..." data-template="{{appContextPath}}views/app/templates/partials/search-employees-popover.tpl.html" data-animation="am-flip-x" data-auto-close="1" data-bs-popover><i class="fa fa-plus"></i> Add employe to {{task.name | uppercase | truncate: 10: '...'}}</button>
	<span  style="float: right;">
		 <ul class="list-inline">
		 	<li>Task status <span class="label" data-ng-class="{'label-danger' : task.taskStatus=='COMPLETED' , 'label-success' : task.taskStatus=='OPEN'}">{{task.taskStatus}}</span></li>
		 </ul>
	</span>
	</h5>
	<hr data-ng-if="employeeByTask[task.id].length>0">
	<div class="alert alert-warning" data-ng-if="(employeeByTask[task.id].length==0 || employeeByTask[task.id].length==null) && groupByTask">
		No employees assigned to this Task 
	</div>
	<ul class="list-group" data-ng-if="employeeByTask[task.id].length>0 && groupByTask">
	  <li class="list-group-item am-fade"  data-ng-repeat="employee in employeeByTask[task.id] | searchField: 'name': 'description' | filter: employeesFilter" >
	    <ul class="list-inline">
	    	<span style="float: right;" data-ng-if="!project.isnew">
	    		<a data-ui-sref="company.employees.view.quick.overview({id:employee.id})">
					Go to <i class="fa fa-arrow-right"></i>
				</a>
	    	</span>
	    	<span style="float: right;">
	    		|
	    	</span>
	    	<span style="float: right;">
	    		<a href="mailto:{{employee.email}}"><i class="fa fa-envelope text-primary"></i></a>
	    	</span>
	    	<li ><button class="btn btn-danger btn-xs" data-ng-click="unAssignEmploye(task,employee)" data-ng-confirm="Do you want to remove this employe from task {{task.name}} ?"><i class="fa fa-times"></i></button></li>
	    	<li >|</li>
	    	<li><i class="fa text-primary" data-ng-class="{'fa-female' : employee.gender=='FEMME','fa-male' : employee.gender=='HOMME','fa-user' : (employee.gender!='FEMME' && employee.gender!='HOMME')}"></i></li>
	    	<li>|</li>
	    	<li>{{ employee.firstName}} {{ employee.lastName}}</li>
	    	<li>|</li>
	    </ul>
	  </li>
	</ul>
	<hr data-ng-if="!$last">
</div>
<ul class="list-group" data-ng-if="!groupByTask">
	  <li class="list-group-item am-fade"  data-ng-repeat="employee in employeesByProject | searchField: 'name': 'description' | filter: employeesFilter" >
	    <ul class="list-inline">
	    	<span style="float: right;" data-ng-if="!project.isnew">
	    		<a data-ui-sref="company.employees.view.quick.overview({id:employee.id})">
					Go to <i class="fa fa-arrow-right"></i>
				</a>
	    	</span>
	    	<span style="float: right;">
	    		|
	    	</span>
	    	<span style="float: right;">
	    		<a href="mailto:{{employee.email}}"><i class="fa fa-envelope text-primary"></i></a>
	    	</span>
	    	<li><i class="fa text-primary" data-ng-class="{'fa-female' : employee.gender=='FEMME','fa-male' : employee.gender=='HOMME','fa-user' : (employee.gender!='FEMME' && employee.gender!='HOMME')}"></i></li>
	    	<li>|</li>
	    	<li>{{ employee.firstName}} {{ employee.lastName}}</li>
	    	<li>|</li>
	    </ul>
	  </li>
</ul>
<h3 class="header smaller lighter blue"><i class="fa fa-rss orange"></i>Last activities on {{ project.name}}</h3>
<activities-timeline data-source="timelineSource"></activities-timeline>
