<div class="row">
			<div class="alert alert-info text-center" role="alert" ng-show="!hasDatas">
				<h4>No data found for selected criterias</h4>
			</div>
			
			<div class="row" data-ng-show="hasDatas"> 
				<span style="vertical-align: middle;" data-ng-show="tableParams.settings().total>0"><b>{{startIndex}}</b> - <b>{{endIndex}}</b> of <b>{{tableParams.settings().total}}</b></span>
				<div class="btn-group" style="padding-left:5px;" >
				    <a href="" data-ng-click="refreshDatas()"><i class="fa fa-refresh"></i></a> 
				</div>
				<div class="btn-group pull-right">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-ng-disabled="selectedAbsences.length<=1">
				    <i class="fa fa-cog"></i> Bulk <span  data-ng-show ="selectedAbsences.length>1" class="badge">{{selectedAbsences.length}}</span> <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li data-ng-show="!absence.validated"><a href="" data-ng-click="validateSelectedAbsence()"><i class="fa fa-check" style="color: green;"></i>Validate</a></li>
				    <li class="divider"></li>
				    <li><a href="" data-ng-click="deleteSelectedAbsence()"><i class="fa fa-trash-o" style="color: red;"></i>Delete</a></li>
				  </ul>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-hover ng-table-rowselected" data-ng-table="tableParams" data-ng-show="hasDatas">
						<tr align="left" data-ng-repeat="project in $data" class="" data-ng-click="project.$selected = !project.$selected; changeSelection(project)">
							<td data-title="'Created date'" data-sortable="'createdDate'">{{ project.createdDate}}</td>
							<td data-title="'Name'" data-sortable="'name'">{{ project.name}}</td>
							<td data-title="'Description'" data-sortable="'description'">{{ project.description}}</td>
							<td style="width:20px;">
								<div class="btn-group">
								 <button type="button" class="btn btn-link dropdown-toggle" style="color: grey;" data-toggle="dropdown">
								    <i class="fa fa-cog"></i><span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu" role="menu">
								    <li><a href="" data-ng-click="editClient(client.id)"><i class="fa fa-pencil-square-o"></i>Edit</a></li>
								    <li class="divider"></li>
								    <li><a href="" data-ng-click="deleteClient(client.id)"><i class="fa fa-trash-o" style="color: red;"></i>Delete</a></li>
								  </ul>
								</div>
							</td>
						</tr>
				</table>
			</div>
		</div>