<div class="hpanel widget-panel">
        <div class="panel-heading hbuilt">
            <div data-panel-tools="">
            </div>
           Last Activities
        </div>
        <div class="panel-body">
            <div class="profile-feed">
				<div data-ng-repeat="day in timelineData.days">
				  <div class="profile-activity clearfix" data-ng-repeat="activityItem in day.activityItems">
				    	<span class="pull-left" data-ng-class="{'text-success' : activityItem.activityDTO.activityOperation=='CREATE' || activityItem.activityDTO.activityOperation=='VALIDATE' , 'text-warning' : activityItem.activityDTO.activityOperation=='UPDATE', 'text-danger' : activityItem.activityDTO.activityOperation=='DELETE' || activityItem.activityDTO.activityOperation=='REJECT'}">
							<strong>{{activityItem.activityDTO.activityOperation}} </strong>
						</span>
				        <!-- <img class="pull-left" alt="user avatar" src="path/to/avatar" /> -->
				        <!-- or icon ->
				        <!-- <i class="pull-left thumbicon btn-success no-hover"></i> -->
				        <span class="text-info">
							<strong>{{activityItem.activityDTO.employe.firstName}} {{activityItem.activityDTO.employe.lastName}}</strong>
						</span>
						<span class="text-muted">Entity 
								<a data-ng-if="activityItem.activityDTO.entityType==='Employe'" data-ui-sref="company.employees.view.quick.overview({ id: activityItem.activityDTO.entityId })">
									{{activityItem.activityDTO.entityType}}
								</a>
								<a data-ng-if="activityItem.activityDTO.entityType==='Task'" data-ui-sref="tasks.detail({ id: activityItem.activityDTO.entityId })">
									{{activityItem.activityDTO.entityType}}
								</a>
								<a data-ng-if="activityItem.activityDTO.entityType==='Project'" data-ui-sref="company.projects.view.quick.overview({ id: activityItem.activityDTO.entityId })">
									{{activityItem.activityDTO.entityType}}
								</a>
								<a data-ng-if="activityItem.activityDTO.entityType==='Client'" data-ui-sref="company.clients.view.quick.overview({ id: activityItem.activityDTO.entityId })">
									{{activityItem.activityDTO.entityType}}
								</a>
								<a data-ng-if="activityItem.activityDTO.entityType==='WorkLog'" data-ui-sref="company.clients.view.quick.overview({ id: activityItem.activityDTO.entityId })">
									{{activityItem.activityDTO.entityType}}
								</a>
								<a data-ng-if="activityItem.activityDTO.entityType==='Absence'" data-ui-sref="absence.detail({ id: activityItem.activityDTO.entityId })">
									{{activityItem.activityDTO.entityType}}
								</a>
								<a data-ng-if="activityItem.activityDTO.entityType==='NoteDeFrais'" data-ui-sref="frais.detail({ id: activityItem.activityDTO.entityId })">
									{{activityItem.activityDTO.entityType}}
								</a>
								<span class="label label-info" data-ng-if="activityItem.activityDTO.entityType==='Company'"">
									{{activityItem.activityDTO.entityType}}
								</span>
						</span>
				        <div class="time"><i class="ace-icon fa fa-clock-o bigger-110"></i> {{day.date | timeFromNow}}</div>
				    <div class="tools action-buttons">
				    </div>
				  </div>
			  </div>
			</div>
        </div>
    </div>