
<div class="tab-pane">
	<div class="row">
		<div class="col-md-3 col-lg-2 pull-right">
			<img id="avatar" data-ng-src="/app/api/users/avatar/{{userInfo.id}}" class="img-thumbnail profile-picture editable-click" height="140" width="140"
			         alt="Generic placeholder thumbnail" data-template="{{appContextPath}}scripts/templates/edit-avatar.tpl.html" data-bs-modal="modal">
			<h3><span class="label label-info label-xlg  arrowed-in arrowed-in-right">{{employe.lastName}} - {{employe.firstName}}</span></h3>
			<span class="text-muted">Registered on {{employe.createdDate  | date:'medium'}}</span>
		</div>
		<div class="col-md-9 col-lg-10">
			<h3 class="header smaller lighter blue">Personal info</h3>
			<div class="profile-user-info profile-user-info-striped">
				<div class="profile-info-row">
					<div class="profile-info-name hidden-sm hidden-xs">Username</div>
					<div class="profile-info-value">
						<span>{{ employe.username }}</span>
					</div>
				</div>
			</div>
			<div class="profile-user-info profile-user-info-striped">
				<div class="profile-info-row">
					<div class="profile-info-name hidden-sm hidden-xs">First name</div>
					<div class="profile-info-value">
						<a href="#" onaftersave="updateEmploye()"
							editable-text="employe.firstName">{{ employe.firstName ||
							'empty' }}</a>
					</div>
				</div>
			</div>
			<div class="profile-user-info profile-user-info-striped">
				<div class="profile-info-row">
					<div class="profile-info-name hidden-sm hidden-xs">Last name</div>
					<div class="profile-info-value">
						<a href="#" onaftersave="updateEmploye()"
							editable-text="employe.lastName">{{ employe.lastName || 'empty'
							}}</a>
					</div>
				</div>
			</div>
			<div class="profile-user-info profile-user-info-striped">
				<div class="profile-info-row">
					<div class="profile-info-name hidden-sm hidden-xs">Birth day</div>
					<div class="profile-info-value">
						<a href="#" onaftersave="updateEmploye()"
							editable-date="employe.birthDay">{{ employe.birthDay ?
							(employe.birthDay | date :'fullDate') : 'empty' || 'empty' }}</a>
					</div>
				</div>
			</div>
			<div class="profile-user-info profile-user-info-striped">
				<div class="profile-info-row">
					<div class="profile-info-name hidden-sm hidden-xs">Gender</div>
					<div class="profile-info-value">
						<a href="#" onaftersave="updateEmploye()"
							editable-radiolist="employe.gender"
							e-ng-options="c.value as c.text for c in civilities">{{
							employe.gender || 'empty' }}</a>
					</div>
				</div>
			</div>
			<h3 class="header smaller lighter blue">Contact</h3>
			<div class="profile-user-info profile-user-info-striped">
				<div class="profile-info-row">
					<div class="profile-info-name hidden-sm hidden-xs">Email</div>
					<div class="profile-info-value">
						<a href="#" onaftersave="updateEmploye()"
							editable-email="employe.email">{{ employe.email || 'empty' }}</a>
					</div>
				</div>
			</div>
			<div class="profile-user-info profile-user-info-striped">
				<div class="profile-info-row">
					<div class="profile-info-name hidden-sm hidden-xs">Tel</div>
					<div class="profile-info-value">
						<ul class="list-inline">
							<li data-ng-repeat="phoneNumber in employe.phoneNumbers"><i
								class="fa fa-phone"></i> <a href="#" onaftersave="updateEmploye()"
								editable-tel="employe.phoneNumbers[$index]">{{
									employe.phoneNumbers[$index] || 'empty' }}</a></li>
							<li>
								<button class="btn btn-primary btn-xs"
									data-ng-click="addPhoneNumbers(employe)">Add</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="profile-user-info profile-user-info-striped">
				<div class="profile-info-row">
					<div class="profile-info-name hidden-sm hidden-xs">Street</div>
					<div class="profile-info-value">
						<a href="#" onaftersave="updateEmploye()"
							editable-text="employe.adress">{{ employe.adress || 'empty' }}</a>
					</div>
				</div>
			</div>
			<div class="profile-user-info profile-user-info-striped">
				<div class="profile-info-row">
					<div class="profile-info-name hidden-sm hidden-xs">Code</div>
					<div class="profile-info-value">
						<a href="#" onaftersave="updateEmploye()"
							editable-number="employe.postCode">{{ employe.postCode ||
							'empty' }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" data-ng-show="employe==undefined">No Employe found
</div>


