<div class="row">
	<fieldset data-collapsible-fieldset="General info" data-collapsible-fieldset-collapsed>
		<div>
			<div class="row" >
				<div class="col-md-3">
			         <img data-ng-src="{{userInfo.profileImageUrl}}" class="img-thumbnail profile-picture" height="140" width="140"
			         alt="Generic placeholder thumbnail">
			         <button class="btn btn-link">Update Avatar</button>
				</div>
				<div class="col-md-9">
					<h4><span class="">{{employe.lastName}} - {{employe.firstName}}</span></h4>
					<div class="row"></div>
					<ul class="nav nav-pills nav-justified" role="tablist">
					  <li class="active"><a href="" role="tab" data-toggle="tab" data-ng-click="activateTab('basicInfos')">Basic infos</a></li>
					  <li><a href="" role="tab" data-toggle="tab" data-ng-click="activateTab('salaryInfos')">Salary</a></li>
					  <li><a href="" role="tab" data-toggle="tab" data-ng-click="activateTab('activities')">Recent activities</a></li>
					</ul>
					<div class="tab-content">
						  <br>
						  <div class="tab-pane" data-ng-class="{'active' : isActiveTab('basicInfos') }">
						  	<h4><span class="label label-info">Personal info</span></h4>
						  	<table class="table editable-form-table">
								<tr>
									<td>Username</td>
									<td><a href="#" onaftersave="updateEmploye()" editable-text="employe.username">{{ employe.username || 'empty' }}</a></td>
								</tr>
								<tr>
									<td>First name</td>
									<td><a href="#" onaftersave="updateEmploye()" editable-text="employe.firstName">{{ employe.firstName || 'empty' }}</a></td>
								</tr>
								<tr>
									<td>Last name</td>
									<td><a href="#" onaftersave="updateEmploye()" editable-text="employe.lastName">{{ employe.lastName || 'empty' }}</a></td>
								</tr>
								<tr>
									<td>Birth day</td>
									<td><a href="#" onaftersave="updateEmploye()" editable-date="employe.birthDay">{{ employe.birthDay ? (employe.birthDay | date :'fullDate') : 'empty' || 'empty' }}</a></td>
								</tr>
								<tr>
									<td>Gender</td>
									<td><a href="#" onaftersave="updateEmploye()" editable-radiolist="employe.gender" e-ng-options="c.value as c.text for c in civilities">{{ employe.gender || 'empty' }}</a></td>
								</tr>
								
							</table>
							<h4><span class="label label-info">Contact</span></h4>
							<table class="table editable-form-table">
								<tr>
									<td>Email</td>
									<td><a href="#" onaftersave="updateEmploye()" editable-email="employe.email" >{{ employe.email || 'empty' }}</a></td>
								</tr>
								<tr>
									<td>Tel</td>
									<td>
										<ul class="list-inline">
											<li data-ng-repeat="phoneNumber in employe.phoneNumbers">
												<i class="fa fa-phone"></i>
												<a href="#"  onaftersave="updateEmploye()" editable-tel="employe.phoneNumbers[$index]">{{ employe.phoneNumbers[$index] || 'empty' }}</a>
											</li>
											<li>
												<button class="btn btn-primary btn-xs" data-ng-click="addPhoneNumbers(employe)">Add</button>
											</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>Street</td>
									<td><a href="#" onaftersave="updateEmploye()" editable-text="employe.adress" >{{ employe.adress || 'empty' }}</a></td>
								</tr>
								<tr>
									<td>Code</td>
									<td><a href="#" onaftersave="updateEmploye()" editable-number="employe.postCode">{{ employe.postCode || 'empty' }}</a></td>
								</tr>
							</table>
						  </div>
						  <div class="tab-pane" data-ng-class="{'active' : isActiveTab('salaryInfos') }">
						  	Salary
						  </div>
						  
						  <div class="tab-pane" data-ng-class="{'active' : isActiveTab('activities') }">
						  	<activities-timeline data-source="timelineData"></activities-timeline>
						  </div>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset class="col-md-9 col-md-offset-3" data-collapsible-fieldset="Change password" data-collapsible-fieldset-collapsed="">
		<div class="">
				<form role="form">
					<div class="form-group" >
						<label for="password">Current password</label>
						<input type="password" class="form-control" id="current-password" data-ng-model="currentPassword" placeholder="Current password">
					</div>
					<div class="form-group" >
						<label for="password">New password</label>
						<input type="password" class="form-control" id="password" data-ng-model="newPassword" placeholder="New password">
						<password-strength-bar password-to-check="newPassword"/>
					</div>
					<div class="form-group" data-ng-class="{'has-success has-feedback' : canChangePassword() && !newPassword.length==0 , 'has-error has-feedback' : !canChangePassword() && !newPassword.length==0 }">
						<label for="confirm-password">Confirm Password</label> 
						<input	type="password" class="form-control" id="confirm-password" data-ng-model="confirmPassword"	placeholder="Confirm password">
						<span class="glyphicon glyphicon-ok form-control-feedback" data-ng-show="newPassword.length>0 && confirmPassword.length>0"></span>
					</div>
					<button type="submit" class="btn btn-success btn-block" data-ng-disabled="!canChangePassword()" data-ng-click="changePassword()">Change</button>
				</form>
		</div>
	</fieldset>
</div>
