<div class="row" data-ng-show="employe">
	<div class="col-md-3">
         <img src="{{appContextPath}}assets/images/users/no_user_pic.jpg" class="img-circle"
         alt="Generic placeholder thumbnail">
         <button class="btn btn-link">Update Avatar</button>
	</div>
	<div class="col-md-9">
		<h4><span class="">{{employe.lastName}} - {{employe.firstName}}</span></h4>
		<div class="row"></div>
		<ul class="nav nav-pills nav-justified" role="tablist">
		  <li class="active"><a href="" role="tab" data-toggle="tab" data-ng-click="activateTab('basicInfos')">Basic infos</a></li>
		  <li><a href="" role="tab" data-toggle="tab" data-ng-click="activateTab('salaryInfos')">Salary</a></li>
		  <li><a href="" role="tab" data-toggle="tab" data-ng-click="activateTab('activities')">Recent activities</a></li>
		</ul>
		<div class="tab-content">
			  <br>
			  <div class="tab-pane" data-ng-class="{'active' : isActiveTab('basicInfos') }">
			  	<h4><span class="label label-info">Personal info</span></h4>
			  	<table class="table editable-form-table">
					<tr>
						<td>Username</td>
						<td><a href="#" onaftersave="updateEmploye()" editable-text="employe.username">{{ employe.username || 'empty' }}</a></td>
					</tr>
					<tr>
						<td>First name</td>
						<td><a href="#" onaftersave="updateEmploye()" editable-text="employe.firstName">{{ employe.firstName || 'empty' }}</a></td>
					</tr>
					<tr>
						<td>Last name</td>
						<td><a href="#" onaftersave="updateEmploye()" editable-text="employe.lastName">{{ employe.lastName || 'empty' }}</a></td>
					</tr>
					<tr>
						<td>Birth day</td>
						<td><a href="#" onaftersave="updateEmploye()" editable-date="employe.birthDay">{{ employe.birthDay ? (employe.birthDay | date :'fullDate') : 'empty' || 'empty' }}</a></td>
					</tr>
					<tr>
						<td>Gender</td>
						<td><a href="#" onaftersave="updateEmploye()" editable-radiolist="employe.gender" e-ng-options="c.value as c.text for c in civilities">{{ employe.gender || 'empty' }}</a></td>
					</tr>
					
				</table>
				<h4><span class="label label-info">Contact</span></h4>
				<table class="table editable-form-table">
					<tr>
						<td>Email</td>
						<td><a href="#" onaftersave="updateEmploye()" editable-email="employe.email" >{{ employe.email || 'empty' }}</a></td>
					</tr>
					<tr>
						<td>Tel</td>
						<td>
							<ul class="list-inline">
								<li data-ng-repeat="phoneNumber in employe.phoneNumbers">
									<i class="fa fa-phone"></i>
									<a href="#"  onaftersave="updateEmploye()" editable-tel="employe.phoneNumbers[$index]">{{ employe.phoneNumbers[$index] || 'empty' }}</a>
								</li>
								<li>
									<button class="btn btn-primary btn-xs" data-ng-click="addPhoneNumbers(employe)">Add</button>
								</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>Street</td>
						<td><a href="#" onaftersave="updateEmploye()" editable-text="employe.adress" >{{ employe.adress || 'empty' }}</a></td>
					</tr>
					<tr>
						<td>Code</td>
						<td><a href="#" onaftersave="updateEmploye()" editable-number="employe.postCode">{{ employe.postCode || 'empty' }}</a></td>
					</tr>
				</table>
			  </div>
			  <div class="tab-pane" data-ng-class="{'active' : isActiveTab('salaryInfos') }">
			  	Salary
			  </div>
			  
			  <div class="tab-pane" data-ng-class="{'active' : isActiveTab('activities') }">
			  	Recent activities
			  </div>
		</div>
	</div>
</div>
<div class="row" data-ng-show="employe==undefined">
No Employe found
</div>

 
