
<div class="row">
	<div class="col-md-2">
		<div class="table-responsive">
		<table
			class="table table-hover ng-table-rowselected"
			data-ng-table="tableParams" >
			<tr align="left" data-ng-repeat="employe in $data"
				data-ng-click="employe.$selected = !user.$selected; changeSelection(user)"
				data-ng-class="{'active': employe.$selected}">
				<td data-title="'Employees'" data-sortable="'nom'">
					<a data-ui-sref="company.employees.view.quick.overview({ id: employe.id })">
						{{employe.nom}} {{employe.prenom}}
					</a>
				</td>
			</tr>
		</table>
	</div>
	</div>
	<div class="col-md-10">
		<div class="panel panel-default">
			<div class="panel-body"><div data-ui-view class=""></div></div>
		</div>
	</div>
</div>