
<div class="row">
	<div class="col-md-2">
		<div class="table-responsive">
			<table
				class="table table-hover ng-table-rowselected "
				data-ng-table="tableParams" >
				<tr align="left" data-ng-repeat="employe in $data" style="height: 50px"
					data-ng-click="employe.$selected = !user.$selected; changeSelection(user)"
					data-ng-class="{'active': employe.$selected}">
					<td data-title="'Employees'" data-sortable="'lastName'">
						<a data-ui-sref="company.employees.view.quick.overview({ id: employe.id })">
							{{employe.lastName}} {{employe.firstName}}
						</a>
						<i data-ng-if="$state.is('company.employees.view.quick.overview',{ id: ''+employe.id+'' })" class="fa fa-hand-o-right text-primary" style="float: right;"></i>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="col-md-10">
		<div class="panel panel-default sub-panel">
			<div class="panel-body"><div data-ui-view class=""></div></div>
		</div>
	</div>
</div>
