<div class="modal" id="editionFormModal" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" data-ng-click="$hide()">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h3 data-ng-show="!edition" class="panel-title">Create invoice</h3>
			</div>
			<div class="modal-body" >
				<form role="form" class="">
					<div class="form-group">
					    <label for="name">{{'form.edit.project.client' | translate}}</label>
					    <select data-chosen data-ng-change="selectClient(client)"
						          data-placeholder="Select a client"
						          data-ng-model="newInvoice.client"
						          data-ng-options="c.name for c in clients">
						           <option value=""></option>
						  </select>
					    <!-- <input type="text" data-ng-model="project.client" class="form-control" id="name" placeholder="{{'form.edit.project.name' | translate}}" required autofocus="autofocus"> -->
					 </div>
					<div class="form-group">
					    <label for="name">Invoice number</label>
					    <input type="text" data-ng-model="newInvoice.invoiceNumber" class="form-control" id="name" placeholder="Enter invoice Number" required>
					 </div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm"
					data-ng-click="createInvoice($hide)" data-ng-show="!edition">Create invoice</button>
				<button type="button" class="btn btn-link btn-sm" data-ng-click="$hide()" data-dismiss="modal">Cancel</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
