<div class="tab-pane">
	<h3 class="header smaller lighter blue">Project assignation</h3>
	<div class="row">
		<div data-ng-criteria-bar data-criteria-bar-config="employeesProjectsCriteriaBarConfig" data-do-filter="employeesProjectsDoFilter(employeesProjectsCriteriaBarConfig.filters)"></div>
		<div class="table-responsive" data-ng-if="desktopScreen">
			<table data-ng-table="clientsEmployeesTableParams" class="table table-striped table-bordered table-hover ng-table-responsive">
			     <tbody data-ng-repeat="group in $groups">
			     <tr class="ng-table-group">
			         <td colspan="{{$columns.length}}">
			             <a href="" data-ng-click="group.$hideRows = !group.$hideRows">
			                 <span class="glyphicon" data-ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
			                 Project: <strong>{{group.value }}</strong>
			             </a>
			         </td>
			     </tr>
			     <tr data-ng-hide="group.$hideRows" data-ng-repeat="task in group.data">
			        <td data-ng-style="{'background-color': task.color}"></td>
			        <td data-title="'Created date'" data-sortable="'createdDate'">{{ task.createdDate | date : 'short'}}</td>
					<td data-title="'Name'" data-sortable="'name'">{{ task.name}}</td>
					<td data-title="'Description'" data-sortable="'description'">{{ task.description}}</td>
					<td data-title="'Status'" data-sortable="'taskStatus'"><span class="label" data-ng-class="{'label-success' : task.taskStatus==='OPEN' , 'label-danger' : task.taskStatus==='COMPLETED'}">{{task.taskStatus}}</span></td>
					<td data-title="'Assigned to'">
						<span class="text-muted" data-ng-if="task.assignedEmployeesIds.indexOf(currentEmployeId)>-1" >
							<strong>You</strong>
						</span>
						<span class="text-muted" data-ng-if="task.assignedEmployeesIds.length>1"> and {{task.assignedEmployeesIds.length-1}} others</span>
						<span class="text-muted" data-ng-if="task.assignedEmployeesIds.length>0 && task.assignedEmployeesIds.indexOf(currentEmployeId)==-1">{{task.assignedEmployeesIds.length}} employees</span>
					</td>
					<td class="tool-btn-col">
						<div class="btn-group actions-btn" role="group" data-ng-if="task.assignedEmployeesIds.indexOf(currentEmployeId)>-1">
						  <button type="button" class="btn btn-link" data-ng-click="editTask(task.id)"><span class="fa fa-pencil"></span></button>
						  <button type="button" class="btn btn-link" data-ng-if="task.createdBy==currentEmployeId" data-ng-click="deleteTask(task.id)" data-ng-confirm="Do you want to delete this entry ?"><span class="fa fa-trash-o red"></span></button>
						</div>
					</td>
			   	</tr>
			     </tbody>
			</table>
		</div>
	</div>
	<h3 class="header smaller lighter blue">{{client.projects.length}} Projects for {{ client.name || 'Name' }}</h3>
	<div class="row">
		<div class="col-lg-6">
			<div class="input-group input-group-sm">
				<span class="input-group-addon "><i class="fa fa-search"></i></span>
				<input type="text" data-ng-model="projectFilter" class="form-control input-sm" placeholder="Filter projects">
				 <span class="input-group-btn">
					<button class="btn btn-success" data-ng-click="addNewProject(client)"><i class="fa fa-plus"></i> Add project</button>
				</span>
			</div>
		</div>
	</div>
	<ul class="list-group">
	  <li class="list-group-item am-fade"  data-ng-repeat="project in client.projects | searchField: 'name': 'description' | filter: projectFilter" >
	    <ul class="list-inline">
	    	<span style="float: right;" data-ng-if="!project.isnew">
	    		<a data-ui-sref="company.projects.view.quick.overview({ id: project.id })">
					Go to <i class="fa fa-arrow-right"></i>
				</a>
	    	</span>
	    	<li><p class="text-muted">Created on {{project.createdDate  | date:'medium'}}</p></li>
	    	<li>|</li>
	    	<li><a href="#" onaftersave="updateProject(project)" buttons="no" editable-text="project.name">{{ project.name || 'Name' }}</a></li>
	    	<li>|</li>
	    	<li><a href="#" onaftersave="updateProject(project)"  editable-textarea="project.description" e-rows="3">{{project.description || "Description"}}</a></li>
	    	<li>|</li>
	    	<li data-ng-if="!project.isnew"><p class="text-warning">{{project.numberOfTasks}} task(s)</p></li>
	    	<li data-ng-if="!project.isnew">|</li>
	    	<li data-ng-if="!project.isnew"><p class="text-warning">{{project.numberOfEmployes}} employee(s)</p></li>
	    	<li data-ng-if="!project.isnew">|</li>
	    	<li><button type="button" class="btn btn-success btn-xs" data-ng-if="project.isnew" data-ng-click="saveProject(project,client)">Save</button></li>
	    	<li><button type="button" class="btn btn-danger btn-xs" data-ng-if="project.isnew" data-ng-click="deleteProject(project,$index)">Cancel</button></li>
	    </ul>
	  </li>
	</ul>
</div>