<form data-role="search" data-ng-submit="onFilterText()">	
	<div class="form-group">
		<div class="input-group input-group-sm">
			<input type="search" data-ng-model="filterValue" class="form-control" data-ng-enter="onFilterText()"
				placeholder="Filter text" name="srch-term" id="srch-term">
			<div class="input-group-btn">
				<button class="btn btn-default" type="button"
					data-ng-click="onFilterText()">
					<i class="fa fa-search"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="">
		<button class="btn btn-link " data-ng-click="reset()">Reset</button>
		<button class="btn btn-link pull-right" data-ng-click="closeFilterContent()">Close</button>
		<button class="btn btn-primary pull-right" data-ng-click="onFilterText()">Filter</button>
	</div>
</form>
