<form data-role="search">
	<label>Filter by date</label>
	<div class="row">
		<div class="col-md-6">
			<div class="radio">
				<label> <input type="radio" name="optionsRadios"
					id="optionsRadios1" data-ng-model="dateSelector" value="byDate">
					Date
				</label>
			</div>
		</div>
		<div class="col-md-6">
			<div class="radio">
				<label> <input type="radio" name="optionsRadios"
					id="optionsRadios1" data-ng-model="dateSelector" value="byRangeDate">
					Date range
				</label>
			</div>
		</div>
	</div>
	<div class="row" data-ng-show="dateSelector=='byDate'">
		<div class="">
			<div class="input-group" id="datepicker">
				<input type="date" class=" form-control " name="start"
					data-ng-model="uniqueDate" placeholder="Select date"  />
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			</div>
		</div>
	</div>
	<div class="row" data-ng-show="dateSelector=='byRangeDate'">
		<div class="">
			<div class="input-group" id="datepicker">
				<input data-date-range-picker class="form-control date-picker" type="text" data-ng-model="dateRange"
				 data-options="dateRangeOpts" placeholder="Select date range" />
				<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				<!-- <input type="text" class=" form-control " name="start"
					data-ng-model="startDate" placeholder="From" data-bs-datepicker />
				<span class="input-group-addon"><i class="fa fa-exchange"></i></span><input type="text"
					class=" form-control " name="end" data-ng-model="endDate"
					placeholder="Until" data-bs-datepicker /> -->
			</div>
		</div>
	</div>
	<div class="">
		<button class="btn btn-link"
			data-ng-click="reset()">Reset</button>
		<button class="btn btn-link pull-right"
			data-ng-click="closeFilterContent()">Close</button>
		<button class="btn btn-primary pull-right"
			data-ng-click="onFilterDate()">Filter</button>
	</div>
</form>
