<div class="tab-pane">
	<div class="panel-body">
	<h3 class="header smaller lighter blue">Project assignation</h3>
	<div class="row">
		<div class="row">
			<div class="col-lg-6">
				<div class="input-group input-group-sm">
					<input type="text" data-ng-model="projectFilter" class="form-control input-sm" placeholder="Filter projects">
					<span class="input-group-addon "><i class="fa fa-search"></i></span>
				</div>
			</div>
		</div>
		<div class="table-responsive project-list">
			<table data-ng-table="clientsEmployeesTableParams" class="table">
			     <tbody data-ng-repeat="group in $groups | searchField: 'name': 'description' | filter: projectFilter">
			     <tr class="ng-table-group">
			         <td colspan="{{$columns.length}}">
			             <a href="" data-ng-click="group.$hideRows = !group.$hideRows">
			                 <span class="glyphicon" data-ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
			                 <strong>{{group.value}}</strong>
			             </a>
			             <span class="text-muted m-l-sm"><small>{{group.data[0].project.description}}</small></span>
			             <span class="text-muted m-l-sm"><i class="fa fa-clock-o m-r-xs"></i>{{totalDurations[group.data[0].project.id] | duration}} logged</span>
			             <span class="text-warning m-l-md">{{group.data[0].project.numberOfEmployes}} employees assigned</span>
			             <span class="text-warning m-l-md">{{group.data[0].project.numberOfTasks}} task</span>
			             <button  type="button" class="btn btn-success btn-white btn-xs m-l-md" data-ng-click="selectActiveProject(group.data[0].project)" data-placement="top " data-title="Select employee ..." data-template="{{appContextPath}}scripts/templates/partials/search-employees-popover.tpl.html" data-animation="am-flip-x" data-auto-close="1" data-bs-popover><i class="fa fa-plus"></i> <strong>Assign employe to this project</strong></button>
			         </td>
			     </tr>
			     <tr class="project-element" data-ng-style="{'border-left-color' : employeesProject.project.color}"  data-ng-hide="group.$hideRows" data-ng-repeat="employeesProject in group.data | searchField: 'name': 'description' | filter: projectFilter" data-ng-if="employeesProject.employe">
			        <td class="project-people"><img alt="image" class="img-circle" data-ng-src="/app/api/users/avatar/{{employeesProject.id.employeeId}}"></td>
			        <!-- <td data-title="'Assign date'" data-sortable="'joinDate'">{{ employeesProject.joinDate | date : 'short'}}</td> -->
					<td><span><strong>{{employeesProject.employe.firstName}} {{employeesProject.employe.lastName}}</strong></span><br/> <small class="text-muted">Joined {{ employeesProject.joinDate | date : 'short'}}</small></td>
					<td data-title="'Project lead'">
						<!-- <i class="fa fa-star orange bigger-140" data-ng-if="employeesProject.projectLead"></i> -->
						<label class="checkbox-inline">
							  <input type="checkbox" data-ng-model="employeesProject.projectLead" data-ng-change="updateEmployeProject(employeesProject,employeesProject.dailyRate)" class="ace ace-switch ace-switch-6"/>
							<span class="lbl"></span>
						</label>
					</td>
					<td>
						<div class="infobox infobox-blue2 no-border">
						   <div class="infobox-progress">
						    	<div data-easypiechart data-options="options" data-percent="percents[employeesProject.id.employeeId][employeesProject.project.id]" class="easy-pie-chart percentage task-chart">
									<span class="percent">{{percents[employeesProject.id.employeeId][employeesProject.project.id]}}</span>%
								</div>
						   </div>
						   <div class="infobox-data">
						      <span class="infobox-text"><small>{{userDurations[employeesProject.id.employeeId][employeesProject.project.id] | duration}}</small></span>
						      <div class="infobox-content"></div>
						   </div>
						</div>
					</td>
					<td class="project-daily-rate" data-sortable="'dailyRate'"><strong><a href="#" data-editable-number="employeesProject.dailyRate" data-onbeforesave="updateEmployeProject(employeesProject,$data)" data-buttons="no" data-e-style="width: 100px;">{{ (employeesProject.dailyRate | currency )|| 0}}</a></strong></td>
					<td data-ng-if="employeesProject.leaveDate">{{ employeesProject.leaveDate | date : 'short'}}</td>
					<td class="project-actions">
						  <button  class="btn btn-link" data-ng-click="editTask(task.id)"><span class="fa fa-pencil"></span></button>
						  <button  class="btn btn-link"  data-ng-click="deleteTask(task.id)" data-ng-confirm="Do you want to delete this entry ?"><span class="fa fa-user-times red"></span></button>
					</td>
			   	</tr>
			     </tbody>
			</table>
		</div>
	</div>
	</div>
	<!-- <ul class="list-group">
	  <li class="list-group-item am-fade"  data-ng-repeat="project in client.projects | searchField: 'name': 'description' | filter: projectFilter" >
	    <ul class="list-inline">
	    	<span style="float: right;" data-ng-if="!project.isnew">
	    		<a data-ui-sref="company.projects.view.quick.overview({ id: project.id })">
					Go to <i class="fa fa-arrow-right"></i>
				</a>
	    	</span>
	    	<li><p class="text-muted">Created on {{project.createdDate  | date:'medium'}}</p></li>
	    	<li>|</li>
	    	<li><a href="#" onaftersave="updateProject(project)" buttons="no" editable-text="project.name">{{ project.name || 'Name' }}</a></li>
	    	<li>|</li>
	    	<li><a href="#" onaftersave="updateProject(project)"  editable-textarea="project.description" e-rows="3">{{project.description || "Description"}}</a></li>
	    	<li>|</li>
	    	<li data-ng-if="!project.isnew"><p class="text-warning">{{project.numberOfTasks}} task(s)</p></li>
	    	<li data-ng-if="!project.isnew">|</li>
	    	<li data-ng-if="!project.isnew"><p class="text-warning">{{project.numberOfEmployes}} employee(s)</p></li>
	    	<li data-ng-if="!project.isnew">|</li>
	    	<li><button type="button" class="btn btn-success btn-xs" data-ng-if="project.isnew" data-ng-click="saveProject(project,client)">Save</button></li>
	    	<li><button type="button" class="btn btn-danger btn-xs" data-ng-if="project.isnew" data-ng-click="deleteProject(project,$index)">Cancel</button></li>
	    </ul>
	  </li>
	</ul> -->
</div>