<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<h3>
				<strong><a href="#" onaftersave="updateCompany()"
					buttons="no" editable-text="company.name">{{ company.name ||
						'Name' | uppercase}}</a></strong>
			</h3>
			<ul class="list-inline">
				<li><span class="text-muted">Registered on {{company.registeredDate  | date:'longDate'}}</span></li>
				<li><span class="text-danger"><strong>Licensed end date  on {{company.licenseEndDate  | date:'longDate'}}</strong></span></li>
				<li><button type="button" class="btn btn-success btn-xs">Upgrade</button></li>
			</ul>
		</div>
	</div>
</div>
