<form data-role="search">
	<div class="input-group">
		<input type="search" data-ng-model="checkBoxFilterSearch" class="form-control" placeholder="Filter text"
			name="srch-term" id="srch-term">
		<span class="input-group-addon"><i class="fa fa-search"></i></span>
	</div>
	<br>
	<ul class="list-group">
		<li class="list-group-item" data-ng-click="element.ticked = !element.ticked ; onFilterCheckBox()" data-ng-repeat="element in checkboxElements | filter : checkBoxFilterSearch">
			<div class="checkbox">
			    <label>
			      <input type="checkbox" data-ng-model="element.ticked"> {{element.label}}
			    </label>
			  </div>
		</li>
	</ul>
	
</form>