<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	data-ng-app="yaCRAApp">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- <base th:href="@{/auth/}" /> -->
<title>Sign in &middot; Yacra Manager</title>
<!-- build:css @{/dist/css/yacra-login.min.css} -->
<link th:href="@{/styles/site.css}" rel="stylesheet" />
<link
	th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/styles/signin.css}" rel="stylesheet" />
<link rel="stylesheet"
	th:href="@{/bower_components/angular-motion/dist/angular-motion.css}" />
<link rel="stylesheet"
	th:href="@{/bower_components/fontawesome/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/styles/yacra-fonts.css}" />
<!-- endbuild -->
</head>
<script th:inline="javascript" type="text/javascript">
    var _contextPath = [[@{/}]] ;
</script>
<script th:if=" ${error} !=null" th:inline="javascript"
	type="text/javascript">
			var error = [[${error}]];
			var errorMessage = [[${errorMessage}]];
</script>
<script th:if=" ${activationFailed} !=null" th:inline="javascript"
	type="text/javascript">
			var activationFailed = [[${activationFailed}]];
			var errorMessage = [[${activationMessage}]];
</script>
<script th:if=" ${activationSuccess} !=null" th:inline="javascript"
	type="text/javascript">
			var activationSuccess = [[${activationSuccess}]];
			var activationMessage = [[${activationMessage}]];
</script>
<body>
	<div class="container">
		<div id="alerts-container"></div>
		<div class="row" data-ng-controller="PasswordRecoveryController">
			<div
				class=" auth-form col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1 col-lg-6 col-lg-offset-3">
				<form class="form-signin form-horizontal" role="form">
					<h3 class="form-signin-heading" style="text-align: center;">Forgot
						your password ?</h3>
					<hr/>
					<div class="well well-sm">All instructions about how to
						recover your password will be send by mail. Please check your
						email inbox and follow instructions.</div>
					<div class="form-group required">
						<label for="email" class="col-sm-4 control-label">Email</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="email"
								data-ng-model="email" placeholder="Your email" required="required"
								autofocus="autofocus"/>
						</div>
					</div>
					<div class="form-group ">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="pull-right">
								<button type="button" data-ng-click="recoverPassword()"
									class="btn btn-primary">Recover my password</button>
							</div>
						</div>
					</div>
					<hr/>
					<a href="login"><span
						class="text-muted pull-right">Back to login page</span></a>
				</form>
			</div>
		</div>
	</div>
	<!-- build:css @{/dist/js/yacra-login.js} -->
	<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
	<script
		th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
	<script th:src="@{/bower_components/angular/angular.js}"></script>
	<script
		th:src="@{/bower_components/angular-resource/angular-resource.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-route/angular-route.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-animate/angular-animate.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-strap/dist/angular-strap.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-strap/dist/modules/modal.js}"></script>
	<script
		th:src="@{/bower_components/angular-strap/dist/modules/alert.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-ui-router/release/angular-ui-router.js}"></script>
	<script
		th:src="@{/bower_components/angular-cookies/angular-cookies.js}"></script>
	<script
		th:src="@{/bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js}"></script>
	<script
		th:src="@{/bower_components/angular-translate/angular-translate.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js}"></script>
	<script th:src="@{/scripts/app/login.js}"></script>
	<!-- endbuild -->
</body>
</html>

