<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	data-ng-app="yaCRAApp">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- <base th:href="@{/auth/}" /> -->
<title>Sign in &middot; Yacra Manager</title>
<!-- build:css @{/dist/css/yacra-login.min.css} -->
<link th:href="@{/styles/site.css}" rel="stylesheet" />
<link
	th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/styles/signin.css}" rel="stylesheet" />
<link rel="stylesheet"
	th:href="@{/bower_components/angular-motion/dist/angular-motion.css}" />
<link rel="stylesheet"
	th:href="@{/bower_components/fontawesome/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/styles/yacra-fonts.css}" />
<!-- endbuild -->
</head>
<script th:inline="javascript" type="text/javascript">
    var _contextPath = [[@{/}]] ;
</script>
<script th:if=" ${error} !=null" th:inline="javascript"
	type="text/javascript">
			var error = [[${error}]];
			var errorMessage = [[${errorMessage}]];
</script>
<script th:if=" ${activationFailed} !=null" th:inline="javascript"
	type="text/javascript">
			var activationFailed = [[${activationFailed}]];
			var errorMessage = [[${activationMessage}]];
</script>
<script th:if=" ${activationSuccess} !=null" th:inline="javascript"
	type="text/javascript">
			var activationSuccess = [[${activationSuccess}]];
			var activationMessage = [[${activationMessage}]];
</script>
<body>
	<div class="container">
		<div id="alerts-container"></div>

		<div class="row" data-ng-cloak="" data-ng-controller="LoginController">
			<div
				class=" auth-form col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4 col-lg-6 col-lg-offset-3">
				<div class="row">
					<form class="" role="form" method="post" action="authentication">
						<h3 class="form-signin-heading" style="text-align: center;">
							<span class="icon-yacra-single"></span> Acces your account
						</h3>
						<hr />
						<div class="alert alert-danger alert-dismissable" role="alert"
							data-ng-show="error">
							<button type="button" class="close" data-dismiss="alert">
								<span aria-hidden="true"></span><span class="sr-only">Close</span>
							</button>
							{{errorMessage}}
						</div>
						<div class="alert alert-danger alert-dismissable" role="alert"
							data-ng-show="activationFailed">
							<button type="button" class="close" data-dismiss="alert">
								<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
							</button>
							{{activationMessage}}
						</div>
						<div class="alert alert-success alert-dismissable" role="alert"
							data-ng-show="activationSuccess">
							<button type="button" class="close" data-dismiss="alert">
								<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
							</button>
							{{activationMessage}}
						</div>
						<div class="margin-bottom">
							<div class="input-group margin-bottom-lg">
								<span class="input-group-addon"><i
									class="fa fa-user fa-fw"></i></span> <input class="form-control"
									type="text" name="username" placeholder="Username"
									required="true" autofocus="autofocus" />

							</div>
							<div class="input-group">
								<span class="input-group-addon"><i
									class="fa fa-key fa-fw"></i></span> <input class="form-control"
									type="password" name="password" placeholder="Password"
									required="true" />
							</div>
						</div>
						<div class="checkbox">
							<label> <input type="checkbox" id="remember-me"
								name="remember-me" /> Remember me
							</label>
						</div>
						<button class="btn btn-lg btn-primary btn-block" type="submit">
							<span class="bigger-110"> Login</span>
						</button>
					</form>
				</div>
				<div class="social-or-login center">
					<span class="bigger-110">Or Login Using</span>
				</div>
				<div class="row">
					<ul class="list-inline center">
						<li>
							<form id="linkedInSignin" action="../signin/linkedin"
								method="post">
								<a href="#"
									onclick="document.getElementById('linkedInSignin').submit()">
									<span class="fa-stack fa-lg"> <i
										class="fa fa-circle fa-stack-2x"></i> <i
										class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
								</span>
								</a>
							</form>
						</li>
						<li>
							<form id="facebookSignin" action="../signin/facebook"
								method="post">
								<a href="#"
									onclick="document.getElementById('facebookSignin').submit()">
									<span class="fa-stack fa-lg"> <i
										class="fa fa-circle fa-stack-2x"></i> <i
										class="fa fa-facebook fa-stack-1x fa-inverse"></i>
								</span>
								</a>
							</form>
						</li>
						<li>
							<form id="googleSignin" action="../signin/google" method="post">
								<a href="#"
									onclick="document.getElementById('googleSignin').submit()">
									<span class="fa-stack fa-lg"> <i
										class="fa fa-circle fa-stack-2x"></i> <i
										class="fa fa-google fa-stack-1x fa-inverse"></i>
								</span>
								</a>
							</form>
						</li>
						<li>
							<form id="githubSignin" action="../signin/github" method="post">
								<a href="#"
									onclick="document.getElementById('githubSignin').submit()">
									<span class="fa-stack fa-lg"> <i
										class="fa fa-circle fa-stack-2x"></i> <i
										class="fa fa-github fa-stack-1x fa-inverse"></i>
								</span>
								</a>
							</form>
						</li>
						<li>
							<form id="twitterSignin" action="../signin/twitter" method="post">
								<a href="#"
									onclick="document.getElementById('twitterSignin').submit()">
									<span class="fa-stack fa-lg"> <i
										class="fa fa-circle fa-stack-2x"></i> <i
										class="fa fa-twitter fa-stack-1x fa-inverse"></i>
								</span>
								</a>
							</form>
						</li>
					</ul>
				</div>
				<div class="row">
					<a href="forgot-password"><span
						class="text-muted pull-left">Forgot password</span></a> <a
						href="register"><span class="text-muted pull-right">Regiter
							a new account</span></a>
				</div>
			</div>
		</div>
	</div>
	<!-- <div data-ng-view="" class="am-fade"></div> -->
	<!-- build:css @{/dist/js/yacra-login.js} -->
	<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
	<script
		th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
	<script th:src="@{/bower_components/angular/angular.js}"></script>
	<script
		th:src="@{/bower_components/angular-resource/angular-resource.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-route/angular-route.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-animate/angular-animate.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-strap/dist/angular-strap.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-strap/dist/modules/modal.js}"></script>
	<script
		th:src="@{/bower_components/angular-strap/dist/modules/alert.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-ui-router/release/angular-ui-router.js}"></script>
	<script
		th:src="@{/bower_components/angular-cookies/angular-cookies.js}"></script>
	<script
		th:src="@{/bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js}"></script>
	<script
		th:src="@{/bower_components/angular-translate/angular-translate.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js}"></script>
	<script th:src="@{/scripts/app/login.js}"></script>
	<!-- endbuild -->
</body>
</html>
