<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	data-ng-app="yaCRAApp">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- <base href="auth/}" /> -->
<title>Sign in &middot; Yacra Manager</title>
<!-- build:css /assets/styles/register/vendor.css -->
<link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.css" />
<!-- endbuild -->

<!-- build:css /assets/styles/register/main.css -->
<link rel="stylesheet" href="../../assets/styles/signin.css"/>
<link rel="stylesheet" href="../../assets/styles/app.css"/>
<link rel="stylesheet" href="../../assets/styles/yacra-fonts.css" />
<!-- endbuild -->
</head>
<!-- Include the JS ReCaptcha API -->
<script src="https://www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" data-async="" data-defer=""></script>
<script th:inline="javascript" type="text/javascript">
    var _contextPath = [[@{/}]] ;
</script>
<script th:if=" ${error} !=null" th:inline="javascript"
	type="text/javascript">
			var error = [[${error}]];
			var errorMessage = [[${errorMessage}]];
</script>
<script th:if=" ${activationFailed} !=null" th:inline="javascript"
	type="text/javascript">
			var activationFailed = [[${activationFailed}]];
			var errorMessage = [[${activationMessage}]];
</script>
<script th:if=" ${activationSuccess} !=null" th:inline="javascript"
	type="text/javascript">
			var activationSuccess = [[${activationSuccess}]];
			var activationMessage = [[${activationMessage}]];
</script>
<script th:if=" ${preFillRegistrationDTO} !=null" th:inline="javascript"
	type="text/javascript">
			var preFillRegistrationDTO = [[${preFillRegistrationDTO}]];
</script>
<script th:if=" ${invitation} !=null" th:inline="javascript"
	type="text/javascript">
			var invitation = [[${invitation}]];
</script>

<body>
	<div class="container">
		<div id="alerts-container"></div>
		<div class="row" data-ng-controller="RegisterController">
			<div
				class=" auth-form col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
				<form class="form-horizontal" novalidate role="form"	data-ng-submit="register()" name="registrationForm" data-show-validation>
					<div class="form-signin-heading row" style="text-align: center;">
						 <span class="icon-yacra-full pull-left"></span>
						<label data-ng-if="!user.socialUser">Register new account</label>
						<label data-ng-if="user.socialUser">Complete registration</label>
						 <img data-ng-src="{{user.profileImageUrl}}" class="img-thumbnail profile-picture pull-right" height="60" width="60"
			          data-ng-show="user.socialUser"/>
						<i class="ace-icon fa fa-user pull-right" data-ng-show="!user.socialUser"></i> 
					</div>
					<div class="alert alert-danger alert-dismissable" role="alert"
						data-ng-show="error">
						<button type="button" class="close" data-dismiss="alert">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						{{errorMessage}}
					</div>
					<div class="alert alert-danger" data-ng-show="registrationForm.$dirty && registrationForm.$invalid" >
		                <strong>Invalid datas in registration form</strong>
		            </div>
					<fieldset>
						<legend>Account informations</legend>
					
					<div class="form-group required">
						<label for="email" class="col-sm-4 control-label">Email</label>
						<div class="col-sm-8">
							<input type="email" class="form-control" name="email" 
								data-ng-model="user.email" placeholder="Email"
								required="required" autofocus="autofocus" data-ng-focus data-ng-disabled="invitation!==undefined"/>
							<p data-ng-show="registrationForm.email.$error.required && registrationForm.email.$dirty " class="help-block">Your password is required.</p>
							<p data-ng-show="registrationForm.email.$error.email && registrationForm.email.$dirty" class="help-block">not an email format.</p>
						</div>
					</div>
					<div class="form-group required">
						<label for="password" class="col-sm-4 control-label">Password</label>
						<div class="col-sm-8">
							<input type="password" class="form-control" id="password"
								data-ng-model="user.password" placeholder="Password"
								data-ng-minlength=5 data-ng-maxlength=50 
								required="required"/>
							<password-strength-bar password-to-check="user.password"/>
							<p ng-show="registrationForm.password.$error.required && registrationForm.password.$dirty" class="help-block">Your password is required.</p>
							<p ng-show="registrationForm.password.$error.minlength && registrationForm.password.$dirty" class="help-block">Your password is required to be at least 5 characters</p>
							<p ng-show="registrationForm.password.$error.maxlength && registrationForm.password.$dirty" class="help-block">Your password cannot be longer than 50 characters.</p>
							
						</div>
					</div>
					<div class="form-group required">
						<label for="confirm-password" class="col-sm-4 control-label">Confirm
							password</label>
						<div class="col-sm-8">
							<input type="password" class="form-control" id="confirm-password"
								data-ng-model="confirmPassword" placeholder="Confirm password"
								required="required"/>
						</div>
					</div>
					<div class="form-group required">
						<label class="col-sm-4 control-label">Captcha check</label>
						<div data-vc-recaptcha="" class="col-sm-8" theme="'light'" data-key="captcha.model.key"
							data-on-create="setWidgetId(widgetId)"
							data-on-success="setResponse(response)"/>
					</div>
					
					</fieldset>
					<fieldset>
						<legend>Company informations</legend>
						<div class="form-group required ">
							<label for="companyname" class="col-sm-4 control-label">Company
								name</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="companyname"
									data-ng-model="user.companyName" placeholder="Your company name"
									required="required" data-ng-disabled="invitation!==undefined"/>
							</div>
						</div>
					</fieldset>
					
					<fieldset>
						<legend>Personal informations</legend>
						<div class="form-group ">
							<label for="firstname" class="col-sm-4 control-label">First
								name</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="firstname"
									data-ng-model="user.firstName" placeholder="Your first name"/>
							</div>
						</div>
						<div class="form-group ">
							<label for="lastname" class="col-sm-4 control-label">Last
								name</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="lastname"
									data-ng-model="user.lastName" placeholder="Last name"/>
							</div>
						</div>
					</fieldset>
					<div class="form-group ">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="pull-right">
								<button type="submit" class="btn btn-primary"
									data-ng-disabled="registrationForm.$invalid">Register</button>
								<button type="button" data-ng-click="loadLogin()"
									class="btn btn-link">Cancel</button>
							</div>
						</div>
					</div>
					<hr />
					<a href="login" ><span
						class="text-muted pull-right">Back to login page</span></a>
				</form>
			</div>
		</div>

	</div>
	<!-- build:js /scripts/register/vendor.js -->
    <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../../bower_components/angular-translate/angular-translate.js"></script>
    <script src="../../bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="../../bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
    <script src="../../bower_components/angular-strap/dist/angular-strap.min.js"></script>
    <script src="../../bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="../../bower_components/angular-recaptcha/release/angular-recaptcha.js"></script>
    <script src="../../bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <!-- endbuild -->
	
	<!-- build:js /scripts/register/app.js -->
	<script src="../../scripts/auth/login.js"></script>
	<script src="../../scripts/common-app.js"></script>
	<script src="../../scripts/components/directives/commons-directives.js"></script>
	<script src="../../scripts/components/factories/common-factories.js"></script>
	<!-- endbuild -->
	
</body>
</html>


