<div class="hpanel widget-panel">
	<div class="panel-heading hbuilt">
		<div data-panel-tools=""></div>
		Expenses
	</div>
	<div class="panel-body no-padding">
		<table class="table table-hover">
	      <thead class="thin-border-bottom">
	      		<tr>
	      			<th>Date</th>
	      			<th>Amount</th>
	      			<th>Status</td>
	      			<th></th>
	      		</tr>
	      </thead>
	      <tbody>
	      	<tr data-ng-repeat="expense in expenses">
	      		<td>{{expense.date | date :'short'}}</td>
	      		<td>{{expense.amount}}</td>
	      		<td>
	      			<span class="label" data-ng-class="{'label-success' : isValidated(expense) , 'label-warning' : isWaiting(expense), 'label-danger' : isRejected(expense)}">
						{{expense.validationStatus}}
					</span>
	      		</td>
	      		<td>
	      			<a data-ui-sref="frais.detail({id:expense.id})">
						<i class="fa fa-arrow-right"></i>
					</a>
	      		</td>
	      	</tr>
	      </tbody>
		</table>
	</div>
</div>