<div class="panel panel-default am-fade">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-4">
				<!-- Single button -->
				<div class="">
					<button type="button" class="btn btn-primary" data-template="../views/app/templates/edit-absences.tpl.html" data-bs-modal="modal" >
						<span class="fa fa-plus-square" ></span> Ajouter
					</button>
					<button type="button" class="btn btn-default"
						data-ng-show="initialSelectionChanged || edition" ng-click="reset()">
						Cancel</button>
				</div>
			</div>
		</div>
			<div data-ng-criteria-bar data-criteria-bar-config="criteriaBarConfig" data-do-filter="doFilter(criteriaBarConfig.filters)"></div>		
			<div class="alert alert-info text-center" role="alert" ng-show="!hasDatas">
				<h4>No data found for selected criterias</h4>
			</div>
			<div class="row" data-ng-show="hasDatas"> 
				<span style="vertical-align: middle;" data-ng-show="tableParams.settings().total>0"><b>{{startIndex}}</b> - <b>{{endIndex}}</b> of <b>{{tableParams.settings().total}}</b></span>
				<div class="btn-group" style="padding-left:5px;" >
				    <a href="" data-ng-click="refreshDatas()"><i class="fa fa-refresh"></i></a> 
				</div>
				<div class="btn-group pull-right">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-ng-disabled="selectedAbsences.length<=1">
				    <i class="fa fa-cog"></i> Bulk <span  data-ng-show ="selectedAbsences.length>1" class="badge">{{selectedAbsences.length}}</span> <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li data-ng-show="!absence.validated"><a href="" data-ng-click="validateSelectedAbsence()"><i class="fa fa-check" style="color: green;"></i>Validate</a></li>
				    <li class="divider"></li>
				    <li><a href="" data-ng-click="deleteSelectedAbsence()"><i class="fa fa-trash-o" style="color: red;"></i>Delete</a></li>
				  </ul>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-hover" data-ng-table="tableParams"  data-ng-show="hasDatas" >
						<tr align="left" data-ng-repeat="absence in $data" class="">
							<td style="width:20px;" data-header="'ng-table/headers/checkbox.html'">
								<label class="checkbox-inline">
								  <input type="checkbox"  data-ng-model="checkboxes.items[absence.id]">
								</label>
							</td>
							<td data-title="'Posted'" data-sortable="'date'">{{ absence.date | date : 'short'}}</td>
							<td data-title="'Who ?'" data-sortable="'employe'" >{{ absence.employeName}}</td>
							<td data-title="'Type'" data-sortable="'typeAbsence'" >{{ absence.typeAbsence}}</td>
							<td data-title="'From'" data-sortable="'startDate'">{{ absence.startDate | date : dateFormat }}</td>
							<td data-title="'To'" data-sortable="'endDate'">{{ absence.endDate | date : dateFormat }}</td>
							<td data-title="'Description'" data-sortable="'description'">{{ absence.description }}</td>
							<td data-title="'Validation'" data-sortable="'validated'" align="center" style="width:20px;"><span class="icon" data-ng-class="{'validated fa fa-check-circle' : absence.validated , 'not-validated fa fa-times-circle' : !absence.validated}"></span></td>
							<td style="width:20px;">
								<div class="btn-group">
								 <button type="button" class="btn btn-link dropdown-toggle" style="color: grey;" data-toggle="dropdown">
								    <i class="fa fa-cog"></i><span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu table-action" role="menu">
								    <li data-ng-show="!absence.validated"><a href="" data-ng-click="validateAbsence(absence.id)"><i class="fa fa-check" style="color: green;"></i>Validate</a></li>
								    <li><a href="" data-ng-click="editAbsence(absence.id)"><i class="fa fa-pencil-square-o"></i>Edit</a></li>
								    <li class="divider"></li>
								    <li><a href="" data-ng-click="deleteAbsence(absence.id)"><i class="fa fa-trash-o" style="color: red;"></i>Delete</a></li>
								  </ul>
								</div>
							</td>
						</tr>
				</table>
				<script type="text/ng-template" id="ng-table/headers/checkbox.html">
        			<label class="checkbox-inline">
						  <input type="checkbox" data-ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />All
					</label>
   				 </script>
			</div>
	</div>
</div>
