<div class="panel panel-default am-fade">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-4">
				<!-- Single button -->
				<div class="">
					<button type="button" class="btn btn-primary" data-template="../../views/app/templates/edit-absences.tpl.html" data-bs-modal="modal" >
						<span class="fa fa-plus-square" ></span> Ajouter
					</button>
					<button type="button" class="btn btn-default"
						data-ng-show="initialSelectionChanged || edition" ng-click="reset()">
						Cancel</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="alert alert-info" role="alert" ng-show="!hasDatas">
				<h4>No data for this range</h4>
			</div>
			<div class="row pull-right" data-ng-show="hasDatas"> 
				<div class="btn-group">
				  <button type="button" class="btn btn-default" data-ng-click="refreshDatas()">
				    <i class="fa fa-refresh"></i> Refresh 
				  </button>
				</div>
				<div class="btn-group">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-ng-disabled="selectedAbsences.length<=1">
				    <i class="fa fa-cog"></i> Bulk <span  data-ng-show ="selectedAbsences.length>1" class="badge">{{selectedAbsences.length}}</span> <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li data-ng-show="!absence.validated"><a href="" data-ng-click="validateSelectedAbsence()"><i class="fa fa-check" style="color: green;"></i>Validate</a></li>
				    <li class="divider"></li>
				    <li><a href="" data-ng-click="deleteSelectedAbsence()"><i class="fa fa-trash-o" style="color: red;"></i>Delete</a></li>
				  </ul>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover" ng-table="tableParams" show-filter="true" ng-show="hasDatas">
					<thead>
						<tr>
							<th colspan="8" ><span>Total items found: {{params.settings().total}} </span></th>
						</tr>
						<tr align="left">
							<th>
								<label class="checkbox-inline">
								  <input type="checkbox" data-ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />All
								</label>
							</th>
							<th>Posted</th>
							<th>Type</th>
							<th>From</th>
							<th>To</th>
							<th>Description</th>
							<th style="width:20px;">Validation</th>
							<th style="width:20px;"></th>
						</tr>
					</thead>
					<tbody>
						<tr align="left" data-ng-repeat="absence in $data">
							<td>
								<label class="checkbox-inline">
								  <input type="checkbox"  data-ng-model="checkboxes.items[absence.id]">
								</label>
							</td>
							<td>{{ absence.postedDate | date : 'short'}}</td>
							<td>{{ absence.type}}</td>
							<td>{{ absence.startDate | date : dateFormat }}</td>
							<td>{{ absence.endDate | date : dateFormat }}</td>
							<td>{{ absence.description }}</td>
							<td align="center"><span class="icon" data-ng-class="{'validated fa fa-check-circle' : absence.validated , 'not-validated fa fa-times-circle' : !absence.validated}"></span></td>
							<td>
								<div class="btn-group">
								  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								    <i class="fa fa-cog"></i>
								  </button>
								  <ul class="dropdown-menu" role="menu">
								    <li data-ng-show="!absence.validated"><a href="" data-ng-click="validateAbsence(absence.id)"><i class="fa fa-check" style="color: green;"></i>Validate</a></li>
								    <li><a href="" data-ng-click="editAbsence(absence.id)"><i class="fa fa-pencil-square-o"></i>Edit</a></li>
								    <li class="divider"></li>
								    <li><a href="" data-ng-click="deleteAbsence(absence.id)"><i class="fa fa-trash-o" style="color: red;"></i>Delete</a></li>
								  </ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
