<div class="">
	<ul class="nav nav-pills sub-menu">
		<li data-ng-class="navClass('admin/home')"><a
			data-ui-sref="admin.home">Home</a></li>
		<li data-ng-class="navClass('admin/company')"><a
			data-ui-sref="admin.company">Companies</a></li>
		<li data-ng-class="navClass('admin/messages')"><a
			data-ui-sref="admin.messages">Messages</a></li>
		<li data-ng-class="navClass('admin/settings')"><a
			data-ui-sref="admin.settings">Settings</a></li>
	</ul>
</div>
<!-- Content -->
<div class="">
	<div data-ui-view></div>
</div>
