
<!-- Menu on the left -->
<div class="">
	<ul class="nav nav-pills ">
		<li data-ng-class="navClass('company/home')"><a
			data-ui-sref="company.home">Home</a></li>
		<li data-ng-class="navClass('company/employees')"><a
			data-ui-sref="company.employees">Employees</a></li>
		<li data-ng-class="navClass('company/clients')"><a
			data-ui-sref="company.clients">Clients</a></li>
		<li data-ng-class="navClass('company/projects')"><a
			data-ui-sref="company.projects">Projects</a></li>
		<li data-ng-class="navClass('company/messages')"><a
			data-ui-sref="company.messages">Messages</a></li>
		<li data-ng-class="navClass('company/settings')"><a
			data-ui-sref="company.settings">Settings</a></li>
	</ul>
</div>
<!-- Content -->
<div class="">
	<div data-ui-view class="am-fade"></div>
</div>
