<div class="panel panel-default am-fade">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">
				<label >Select date range</label>
			</div>
		</div>
		<fieldset data-collapsible-fieldset="Filter">
			<div class="row">
				<div class="col-md-9">
					<form role="form">
						 <div class="form-group">
	    					<label for="period">Predifined period</label>
							<select class="form-control" data-ng-model="selectedPeriod" data-ng-change="periodChanged()" data-placeholder="Select period" data-ng-options="period for period in periodCRA"></select>
						</div>
						<div class="form-group">
    						<label for="datepicker">Select date range</label>
							<div class="input-group" id="datepicker">
								<input type="text" class=" form-control " name="start" ng-model="startDate" placeholder="From" bs-datepicker/>
								<span class="input-group-addon">to</span>
								<input type="text" class=" form-control " name="end" ng-model="endDate" placeholder="Until" bs-datepicker />	
							</div>
						</div>
							<button type="button" class="btn btn-primary pull-right" ng-click="retrieveCra()">Filter</button>
					</form>
				</div>
			</div>
		</fieldset>
		<div data-ng-criteria-bar data-criteria-bar-config="criteriaBarConfig" data-do-filter="doFilter(criteriaBarConfig.filters)"></div>		
		<div class="row">
			<div class="col">
				<span >Compte rendu d'activité sur
					la période du <strong>{{respStartDate | date : dateFormat}}</strong> au <strong>{{respEndDate | date : dateFormat}}</strong></span>
			</div>
		</div>
		<div id="cra-container">
			<div class="table-responsive">
				<table class="table cra-table table-condensed table-bordered" ng-show="cra.days.length>=1">
					<tr>
						<td></td>
						<th ng-repeat="day in cra.days" ng-class="{'cra-we' : day.dayOff}"><small>{{day.date | date : craDateFormat}}</small></th>
					</tr>
					<tr>
						<td>M</td>
						<td ng-repeat="day in cra.days" ng-class="{'cra-we' : day.dayOff}">
							<label data-placement="bottom-left" data-type="info" data-animation="am-fade-and-scale" bs-tooltip="{'title':day.morning.absenceDTO.type +' '+ day.morning.absenceDTO.description}">
	  							<input type="checkbox" class="custom-checkbox"	ng-model="day.morning.worked" value="{{day.morning.worked}}" ng-disabled="day.dayOff || day.morning.absenceDTO!=null" />
								<span></span>
							</label>
						</td>
					</tr>
					<tr>
						<td>A</td>
						<td ng-repeat="day in cra.days" ng-class="{'cra-we' : day.dayOff}">
							<label data-placement="bottom-left" data-type="info" data-animation="am-fade-and-scale" bs-tooltip="{'title':day.afternoon.absenceDTO.type +' '+ day.afternoon.absenceDTO.description}">
	  							<input type="checkbox" class="custom-checkbox" ng-model="day.afternoon.worked" value="{{day.afternoon.worked}}" ng-disabled="day.dayOff || day.afternoon.absenceDTO!=null"/>
								<span></span>
							</label>
						</td>
					</tr>
				</table>
			</div>
			<div class="alert alert-info" role="alert" ng-show="cra.days.length<1"">
				<h4>No data for this range</h4>
			</div>
		</div>
	</div>
</div>