<div class="panel panel-default am-fade">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-4">
				<fieldset data-collapsible-fieldset="Used on selected period" data-collapsible-fieldset-collapsed>
					<div>
						<div class="row"><div class="col-md-3"><span>Conge paye: </span></div><div class="col-md-3"><span class="label label-info">12</span></div></div>
						<div class="row"><div class="col-md-3"><span>RTT: </span></div><div class="col-md-3"><span class="label label-info">12</span></div></div>
					</div>
				</fieldset>
			</div>
			<div class="col-md-4">
				<fieldset data-collapsible-fieldset="Extra time" data-collapsible-fieldset-collapsed>
				</fieldset>
			</div>
			<div class="col-md-4">
				<fieldset data-collapsible-fieldset="Available" data-collapsible-fieldset-collapsed>
					<div>
						<div class="row"><div class="col-md-3"><span>Conge paye: </span></div><div class="col-md-3"><span class="label label-info">12</span></div></div>
						<div class="row"><div class="col-md-3"><span>RTT: </span></div><div class="col-md-3"><span class="label label-info">12</span></div></div>
					</div>
				</fieldset>
			</div>
		</div>
		<div data-ng-criteria-bar data-criteria-bar-config="criteriaBarConfig" data-do-filter="doFilter(criteriaBarConfig.filters)"></div>		
		<div class="row">
			<div class="col">
				<span >Compte rendu d'activité sur
					la période du <strong>{{respStartDate | date : dateFormat}}</strong> au <strong>{{respEndDate | date : dateFormat}}</strong></span>
			</div>
		</div>
		<div id="cra-container">
			<div class="table-responsive">
				<table class="table cra-table table-condensed table-bordered" data-ng-show="cra.days.length>=1">
					<tr>
						<td></td>
						<th data-ng-repeat="day in cra.days" data-ng-class="{'cra-we' : day.dayOff}"><small>{{day.date | date : craDateFormat}}</small></th>
					</tr>
					<tr>
						<td>M</td>
						<td data-ng-repeat="day in cra.days" data-ng-class="{'cra-we' : day.dayOff}">
							<label data-placement="bottom-left" data-type="info" data-animation="am-fade-and-scale" data-bs-tooltip="{'title':day.morning.absenceDTO.type +' '+ day.morning.absenceDTO.description}">
	  							<input type="checkbox" class="custom-checkbox"	data-ng-model="day.morning.worked" value="{{day.morning.worked}}" data-ng-disabled="day.dayOff || day.morning.absenceDTO!=null" />
								<span></span>
							</label>
						</td>
					</tr>
					<tr>
						<td>A</td>
						<td data-ng-repeat="day in cra.days" data-ng-class="{'cra-we' : day.dayOff}">
							<label data-placement="bottom-left" data-type="info" data-animation="am-fade-and-scale" data-bs-tooltip="{'title':day.afternoon.absenceDTO.type +' '+ day.afternoon.absenceDTO.description}">
	  							<input type="checkbox" class="custom-checkbox" ng-model="day.afternoon.worked" value="{{day.afternoon.worked}}" ng-disabled="day.dayOff || day.afternoon.absenceDTO!=null"/>
								<span></span>
							</label>
						</td>
					</tr>
				</table>
			</div>
			<div class="alert alert-info" role="alert" ng-show="cra.days.length<1"">
				<h4>No data for this range</h4>
			</div>
		</div>
	</div>
</div>