<div class="row">
	<div class="btn-toolbar" role="toolbar">
	  <div class="btn-group btn-group-sm">
	  	<button type="button" class="btn btn-default"  data-template="../views/app/templates/edit-worklog.tpl.html"
			data-bs-modal="modal">
			<strong>+</strong> Ajouter
		</button>
	  </div>
	  <div class="btn-group btn-group-sm pull-right">
                   <button class="btn btn-success" data-ng-class="{'active' : currentView=='week'}" data-ng-click="updateCurrentview('week')">{{'app.timesheet.toolbar.agendaWeek' | translate}}</button>
                   <button class="btn btn-success" data-ng-class="{'active' : currentView=='month'}" data-ng-click="updateCurrentview('month')">{{'app.timesheet.toolbar.agendaMonth' | translate}}</button>
	  </div>
	  <div class="btn-group btn-group-sm pull-right">
		<button class="btn btn-default" data-ng-class="{'active' : isTodaySelected()}" data-ng-disabled="isTodaySelected()" data-ng-click="today()">{{'app.timesheet.toolbar.today' | translate}}</button>
		<button class="btn btn-default" ><i class="fa fa-calendar"></i></button>
	  </div>
	  			  
	</div>
</div>
<div data-ng-criteria-bar data-criteria-bar-config="criteriaBarConfig" data-do-filter="doFilter(criteriaBarConfig.filters)"></div>		
<div class="row">
	<ul class="pager">
	  <li class="previous"><a href=""  data-ng-click="previous()"><i class="fa fa-long-arrow-left"></i>{{'app.timesheet.toolbar.previous' | translate}}</a></li>
	  <li><span><strong>{{dateRange.startDate.toDate() | date : shortDate}} - {{dateRange.endDate.toDate() | date : shortDate}}</strong></span></li>
	  <li class="next"><a href="" data-ng-click="next()">{{'app.timesheet.toolbar.next' | translate}} <i class="fa fa-long-arrow-right"></i></a></li>
	</ul>
</div>
<div class="" data-ng-repeat="employeCraDetail in craDetails.employeCraDetailsDTOs">
	<hr data-ng-show="craDetails.employeCraDetailsDTOs.length>1">
	<div class="row">
		<div class="btn-toolbar" role="toolbar">
			<div class="btn-group"><h4><span class="text-muted"><strong>{{employeCraDetail.employeName}}</strong></span></h4></div>
			<div class="btn-group btn-group-sm pull-right">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-o"></i> Export <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
				    <li><a href="#"><i class="fa fa-file-pdf-o"></i> Pdf</a></li>
				    <li><a href="#"><i class="fa fa-file-excel-o"></i> Excel</a></li>
				  </ul>
                    <button class="btn btn-default" ><i class="fa fa-print"></i> Print</button>
		  	</div>
		  	<div class="btn-group btn-group-sm pull-right">
				<button class="btn btn-success" data-ng-show="isCurrentEmploye(employeCraDetail.employeId)">Send for approval</button>
			</div>
	  	</div>
	</div>
	<div class="row">
		<fieldset data-collapsible-fieldset="Used on selected period">
			<div>
				<div class="row"><div class="col-md-3"><span>Conge paye: </span></div><div class="col-md-3"><span class="label label-info">12</span></div></div>
				<div class="row"><div class="col-md-3"><span>RTT: </span></div><div class="col-md-3"><span class="label label-info">12</span></div></div>
			</div>
		</fieldset>
</div>
	<div class="cra-container">
	<div class="table-responsive">
	<table class="table table-condensed table-bordered">
		<thead>
			<tr>
			     <th class="cra-table-task">Task</th>
			     <th style="width: 80px;" data-ng-repeat="day in employeCraDetail.days" data-ng-class="{'cra-we' : day.dayOff , 'cra-today' : isToday(day.date)}">
			     	<small>{{day.date | date : craDateFormat}}</small>
			     </th>
			     <th style="width: 60px;vertical-align: middle;text-align: center;">Total</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="taskRow in employeCraDetail.taskRows">
				<td class="cra-table-task"><h6><span><strong>{{taskRow.task.name}}</strong></span></h6><h6><span class="text-muted">{{taskRow.project.client.name}} - {{taskRow.project.name}}</span></h6></td>
				<td data-ng-repeat="day in employeCraDetail.days" data-ng-class="{'cra-we' : day.dayOff, 'cra-today' : isToday(day.date)}" style="width: 40px;vertical-align: middle;text-align: center;">
					<a href="#" data-ng-disabled="day.dayOff" data-editable-number="taskRow.duration[day.date]" data-buttons="no" data-e-style="width: 50px;" data-e-required data-onbeforesave="updateCraValue($data,taskRow,day,employeCraDetail.days)">{{ taskRow.duration[day.date] || 0 | duration  }}</a>
					<span class="text-warning" data-title="Some entries are not approuved yet" data-bs-tooltip="" data-ng-show="taskRow.validationStatus[day.date]!=undefined && taskRow.validationStatus[day.date]!='APPROVED'"><span class="glyphicon glyphicon-warning-sign"></span></span>
				</td>
				<td style="vertical-align: middle;text-align: center;">
					<span class="text-muted">{{taskRowTotal(taskRow,employeCraDetail.days) | durationHours}}</span> 
				</td>
			</tr>
			<tr data-ng-show="employeCraDetail.craAbsenceDetail">
				<td><h6><span><strong>Time off</strong></span></h6></td>
				<td data-ng-repeat="day in employeCraDetail.days" data-ng-class="{'cra-we' : day.dayOff , 'cra-today' : isToday(day.date)}" style="width: 40px;vertical-align: middle;text-align: center;">
					<a href="" data-ng-disabled="day.dayOff"  data-title=" Add to {{day.date | date : 'shortDate'}}" data-content-template="cra/timeoff/edit-timeoff-popover.html" data-bs-popover="">{{ employeCraDetail.craAbsenceDetail.duration[day.date]  || 0 | duration }}</a>
					<span class="text-warning" data-title="Some entries are not approuved yet" data-bs-tooltip="" data-ng-show="employeCraDetail.craAbsenceDetail.validationStatus[day.date]!=undefined && employeCraDetail.craAbsenceDetail.validationStatus[day.date]!='APPROVED'"><span class="glyphicon glyphicon-warning-sign"></span></span>
				</td>
				<td style="vertical-align: middle;text-align: center;">
					<span class="text-muted">{{taskRowTotal(employeCraDetail.craAbsenceDetail,employeCraDetail.days) | durationHours}}</span> 
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td>
					<div class="btn-group dropup">
					  <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
					    Add <span class="caret"></span>
					    <span class="sr-only">Toggle Dropdown</span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					    <li><a href="">Extra time</a></li>
					  </ul>
					</div>
				</td>
				<td data-ng-repeat="day in employeCraDetail.days" data-ng-class="{'cra-we' : day.dayOff , 'cra-today' : isToday(day.date)}" style="width: 40px;vertical-align: middle;text-align: center;">
					<span class="text-muted">{{dayColumnTotal(employeCraDetail,day) | durationHours}}</span>
				</td>
				<td style="vertical-align: middle;text-align: center;">
					<h5><strong>{{craTotal(employeCraDetail) | durationHours}}</strong></h5>
				</td>
			</tr>
		</tfoot>
	</table>
	<span class="help-block">
		<span class="text-warning glyphicon glyphicon-warning-sign"></span> Contains some entries not validated
	</span>
	<script type="text/ng-template" id="cra/timeoff/edit-timeoff-popover.html">
<form editable-form name="editableForm" class="timeoff-popover-form" role="form" onaftersave="saveTimeOff(day.date,$hide)">
<table class="table borderless">
	<tr>
    	<td>Type: </td>
    	<td>
			<span editable-select="newAbsence.typeAbsence" e-class="form-control" e-name="typeAbsence" onshow="loadAbsenceTypes()"  e-ng-options="a.name as a.label for a in absencesTypes">
				{{ newAbsence.typeAbsence.label || 'Type' }}
			</span>
		</td>
  	</tr>
	<tr>
    	<td>Description: </td>
    	<td>
			<span editable-text="newAbsence.description" e-class="form-control" e-name="description">
				{{ newAbsence.description || 'Description' }}
			</span>
		</td>
  	</tr>
	<tr>
    	<td>Period: </td>
    	<td>
			<span editable-select="newAbsence.period" e-class="form-control" e-name="period"  e-ng-options="p.name as p.label for p in absencePeriods">
				{{ newAbsence.period || 'Period' }}
			</span>
		</td>
  	</tr>
</table>
 <!-- button to show form -->
<button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
   Edit
</button>
<button type="button" class="btn btn-danger pull-right" ng-click="$hide()">
       Close
</button>
     <!-- buttons to submit / cancel form -->
	<span ng-show="editableForm.$visible">
    	<button type="submit" class="btn btn-success" ng-disabled="editableForm.$waiting">
        	 Save
       	</button>
       	<button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
        	Cancel
       	</button>
    </span>
</form>
</script>
</div>
</div>
</div>
