<div class="panel panel-default am-fade">
	<div class="panel-body">
		<div class="row">
			<!-- Menu on the left -->
			<div class="col-md-2">
				<ul class="nav nav-pills nav-stacked">
					<li data-ng-class="navClass('entreprise/home')"><a ui-sref="entreprise.home">Home</a></li>
					<li data-ng-class="navClass('entreprise/salaries')"><a data-ui-sref="entreprise.salaries" >Salariés</a></li>
					<li data-ng-class="navClass('entreprise/messages')"><a data-ui-sref="entreprise.messages">Messages</a></li>
					<li data-ng-class="navClass('entreprise/settings')"><a data-ui-sref="entreprise.settings">Settings</a></li>
				</ul>
			</div>
			<!-- Content -->
			<div class="col-md-10">
				<div ui-view></div>
			</div>
		</div>
	</div>
</div>
