<div class="panel panel-default am-fade">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-4">
				<!-- Single button -->
					<button type="button" class="btn btn-primary" "   data-template="../../views/app/templates/edit-notes.tpl.html" data-bs-modal="modal">
						<span class="fa fa-plus-square" ></span> Ajouter 
					</button>
					<button type="button" class="btn btn-default"
						data-ng-show="initialSelectionChanged || edition" data-ng-click="reset()">
						Cancel</button>
			</div>
		</div>
		<div class="row">
			<fieldset data-collapsible-fieldset="Filter">
				<div class="row">
					<div class="col-md-9">
						<form role="form">
							 <div class="form-group">
		    					<label for="period">Predifined period</label>
								<select class="form-control" data-ng-model="selectedPeriod" data-ng-change="periodChanged()" data-placeholder="Select period" data-ng-options="period for period in periodFilter"></select>
							</div>
							<div class="form-group">
	    						<label for="datepicker">Select date range</label>
								<div class="input-group" id="datepicker">
									<input type="text" class=" form-control " name="start" ng-model="startDate" placeholder="From" bs-datepicker/>
									<span class="input-group-addon">to</span>
									<input type="text" class=" form-control " name="end" ng-model="endDate" placeholder="Until" bs-datepicker />	
								</div>
							</div>
								<button type="button" class="btn btn-primary pull-right" ng-click="retrieveCra()">Filter</button>
						</form>
					</div>
				</div>
			</fieldset>
		
			<div class="alert alert-info" role="alert" data-ng-show="!hasDatas">
				<h4>No data for this range</h4>
			</div>
			<div class="row pull-right" data-ng-show="hasDatas"> 
					<div class="btn-group">
					  <button type="button" class="btn btn-default" data-ng-click="refreshDatas()">
					    <i class="fa fa-refresh"></i> Refresh 
					  </button>
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-ng-disabled="selectedNotes.length<=1">
					    <i class="fa fa-cog"></i> Bulk <span  data-ng-show ="selectedNotes.length>1" class="badge">{{selectedNotes.length}}</span> <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					    <li><a href="" data-ng-click="deleteSelectedNote()"><i class="fa fa-trash-o" style="color: red;"></i>Delete</a></li>
					  </ul>
					</div>
			</div>
			
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover" data-ng-table="tableParams" show-filter="true" ng-show="hasDatas" template-pagination="custom/pager">
					<thead>
						<tr>
							<th colspan="6" ><span>Total items found: {{params.settings().total}} </span></th>
						</tr>
						<tr >
							<th style="width:40px;">
								<label class="checkbox-inline">
								  <input type="checkbox" data-ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />All
								</label>
							</th>
							<th >Date</th>
							<th>Description</th>
							<th>Montant</th>
							<th style="width:20px;" align="center"><i class="fa fa-paperclip"></i></th>
							<th style="width:20px;"></th>
						</tr>
					</thead>
					<tbody>
						<tr align="left" data-ng-repeat="note in $data">
							<td>
								<label class="checkbox-inline">
								  <input type="checkbox"  data-ng-model="checkboxes.items[note.id]">
								</label>
							</td>
							<td>{{ note.date | date : 'short'}}</td>
							<td>{{ note.description}}</td>
							<td>{{ note.amount | currency:"EUR " }} </td>
							<td>
								<a href="../api/attachements/{{id}}" data-ng-repeat="id in note.attachementsIds" data-ng-show="note.attachementsIds.length>0" >
									<i class="fa fa-cloud-download"></i>
								</a>
							</td>
							<td>
								<div class="btn-group">
								  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								    <i class="fa fa-cog"></i>
								  </button>
								  <ul class="dropdown-menu" role="menu">
								    <li><a href="" data-ng-click="editNote(note.id)"><i class="fa fa-pencil-square-o"></i>Edit</a></li>
								    <li class="divider"></li>
								    <li><a href="" data-ng-click="deleteNote(note.id)"><i class="fa fa-trash-o" style="color: red;"></i>Delete</a></li>
								  </ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<script type="text/ng-template" id="custom/pager">
					<div class="ng-cloak ng-table-pager"> 
						<div class="row">
							<div ng-if="params.settings().counts.length" class="ng-table-counts btn-group pull-right"> 
								<button ng-repeat="count in params.settings().counts" type="button" ng-class="{'active':params.count()==count}" ng-click="params.count(count)" class="btn btn-default"> 
									<span ng-bind="count"></span> 
								</button>
			 				</div>
							<ul class="pagination ng-table-pagination"> 
								<li ng-class="{'disabled': !page.active}" ng-repeat="page in pages" ng-switch="page.type">
									<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo;</a> 
									<a ng-switch-when="first" ng-click="params.page(page.number)" href="">
										<span ng-bind="page.number"></span>
									</a> 
									<a ng-switch-when="page" ng-click="params.page(page.number)" href="">
										<span ng-bind="page.number"></span>
									</a> 
									<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
									<a ng-switch-when="last" ng-click="params.page(page.number)" href="">
										<span ng-bind="page.number"></span>
									</a> 
									<a ng-switch-when="next" ng-click="params.page(page.number)" href="">&raquo;</a> 
								</li> 
							</ul>
						</div> 
					</div>
				</script>
				
				 
				
			</div>
		</div>
	</div>
</div>
