<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
<title data-update-title=""></title>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<base th:href="@{/app/view/}" />

<!-- build:css /assets/styles/app/vendor.css -->
<link rel="stylesheet" href="../../bower_components/bootstrap-additions/dist/bootstrap-additions.min.css"/>
<link rel="stylesheet" href="../../bower_components/angular-motion/dist/angular-motion.css"/>
<link rel="stylesheet" href="../../bower_components/angular-loading-bar/build/loading-bar.css"/>
<link rel="stylesheet" href="../../bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css"/>
<link rel="stylesheet" href="../../bower_components/ng-table/dist/ng-table.css"/>
<link rel="stylesheet" href="../../bower_components/angular-xeditable/dist/css/xeditable.css"/>
<link rel="stylesheet" href="../../bower_components/angular-bootstrap-colorpicker/css/colorpicker.css"/>
<link rel="stylesheet" href="../../bower_components/ngQuickDate/dist/ng-quick-date.css"/>
<link rel="stylesheet" href="../../bower_components/ngQuickDate/dist/ng-quick-date-default-theme.css"/>
<link rel="stylesheet" href="../../bower_components/fullcalendar/fullcalendar.css"/>
<link rel="stylesheet" href="../../bower_components/ng-finder/examples/css/elfinder.css"/>
<link rel="stylesheet" href="../../bower_components/chosen/chosen.min.css"/>
<link rel="stylesheet" href="../../bower_components/jquery.gritter/css/jquery.gritter.css"/>
<link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css"/>
<!-- endbuild -->

<!-- build:css /assets/styles/app/main.css -->
<link rel="stylesheet"	href="../../assets/styles/flags/flags.css"/>
<link rel="stylesheet"	href="../../assets/styles/angular-criterias.css"/>
<link rel="stylesheet"	href="../../assets/styles/jquery.jOrgChart.css"/>
<link rel="stylesheet"	href="../../assets/styles/gritter.css"/>
<link rel="stylesheet"	href="../../assets/styles/yacra-fonts.css"/>
<link rel="stylesheet"	href="../../assets/styles/app.css"/>
<link rel="stylesheet"	href="../../assets/styles/yacranav.css"/>
<link rel="stylesheet"	href="../../assets/styles/yacrafooter.css"/>
<link rel="stylesheet"	href="../../assets/styles/ace.css"/>
<!-- endbuild -->
</head>
<body data-ng-controller="AppCtrl" data-auth-application-support="" class="waiting-for-angular" data-events-to-wait="eventsToWait" data-application-loading-support="" data-connection-lost-support="">
	<div id="initializing-panel"></div>
	<div id="app-content">
	<!-- Fixed navbar -->
	<div class="navbar navbar-custom navbar-fixed-top" role="navigation"
		data-ng-cloak="">
		<div data-ng-class="userLocalSettings.container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<span class="icon-yacra-full"></span>
					<span class="navbar-version hidden-xs hidden-sm" data-ng-show="{{ENV !== 'prod'}}">[{{ENV | uppercase}}] v{{VERSION}}</span>
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navtop navbar-nav navbar-left">
					<li data-has-role="ROLE_ADMIN" data-ng-class="{ active: $state.includes('admin') }">
						<a	data-ui-sref="admin.home"><i class="fa fa-star"></i>{{'app.navbar.menu.admin' | translate}}</a>
					</li>
					<li data-has-role="ROLE_SSII_ADMIN" data-ng-cloak=""
						data-ng-class="{ active: $state.includes('company') }" ><a
						data-ui-sref="company.home"><i class="fa fa-university"></i>{{userInfo.company.name}}</a></li>
					<li class="dropdown" data-ng-class="navClass('frais') + navClass('activity-report') + navClass('absence') + navClass('timesheet')">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">{{'app.navbar.menu.workspace' | translate}}<span class="caret"></span></a>
						<ul class="workspace-menu dropdown-menu " role="menu">
							<li data-ui-sref-active="active"  class="visible-xs-inline visible-sm-inline">
								<a data-ui-sref="tasks"><i class="fa fa-tasks"></i>{{'app.navbar.menu.tasks' | translate}}</a>
							</li>
							<li data-ui-sref-active="active" ><a data-ui-sref="frais.list.mine">{{'app.navbar.menu.frais' | translate}}</a></li>
							<li data-ui-sref-active="active" ><a data-ui-sref="activity-report.list.mine">{{'app.navbar.menu.cra' | translate}}</a></li>
							<li data-ui-sref-active="active" ><a
								data-ui-sref="absence.list.mine">{{'app.navbar.menu.absences' | translate}}</a></li>
							<li data-ui-sref-active="active"><a
								data-ui-sref="timesheet">{{'app.navbar.menu.timesheet' | translate}}</a></li>
							<li data-ui-sref-active="active"><a
								data-ui-sref="files">{{'app.navbar.menu.files' | translate}}</a></li>
						</ul>
					</li>
					<li data-ui-sref-active="active" class="visible-md-inline visible-lg-inline">
						<a data-ui-sref="tasks"><i class="fa fa-tasks"></i>{{'app.navbar.menu.tasks' | translate}}</a>
					</li>
				</ul>
				<div data-ng-controller="WorkLogCtrl">
					<ul class="nav navtop navbar-nav navbar-right">
						<li class="dropdown timer-widget" >
							<a data-toggle="dropdown" class="dropdown-toggle" href="">
								<i class="fa fa-clock-o" ></i>
								<span  data-ng-class="{'visible-lg-inline visible-md-inline' : timerRunning}" data-ng-show="timerRunning">[{{task.name}}]</span>
								<timer autostart="false" interval="1000" data-ng-show="timerRunning">{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
							</a>
							<div class="timer-widget-content dropdown-menu">
									<form role="form">
										<div class="form-group">
	   										<!-- <label for="project">{{'app.navbar.timer.project' | translate}}</label> -->
											<select id="project" class="form-control"  data-chosen="" data-ng-change="selectProject(project)"
									          data-placeholder="Select a project"
									          data-ng-model="project"
									          data-ng-options="p.name for p in projects">
							           		<option value=""></option>
								  			</select>
								  		</div>
								  		<div class="form-group">
	   										<!-- <label for="task">Task</label> -->
								  			<select id="task" class="form-control"  data-chosen="" data-ng-change="selectTask(task)"
										          data-placeholder="Select a task"
										          data-ng-model="task"
										          data-ng-options="t.name for t in tasks">
								           		<option value=""></option>
								  			</select>
								  		</div>
							  			 <div class="form-group">
										    <label for="description">Note</label>
										    <textarea id="description" data-ng-model="description" class="form-control" data-placeholder="Enter a note"></textarea>
										  </div>
										<button type="button" class="btn btn-success btn-xs btn-block" data-ng-click="startTimer()" data-ng-disabled="!startable">Start</button>
									</form>
							</div>
						</li>
						<li>
							<button type="button" class="btn btn-danger btn-xs navbar-btn"  data-ng-click="stopTimer();" data-ng-show="timerRunning" >
								 <i class="fa fa-stop"></i>
							</button>
						</li>
						<li data-ui-sref-active="active" data-ng-show="userInfo.hasNewMessages"><a
						data-ui-sref="messages"><i class="fa fa-envelope"></i></a></li>
					<!-- <li data-ng-class="navClass('notifications')"><a
						data-ui-sref="notifications"><i class="fa fa-bell"></i></a></li> -->
					<li class="dropdown" data-ng-controller="LanguageController">
						 <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                             <span>
                                 <i class="fa fa-globe"></i>
                                 <span class="hidden-tablet">{{currentLanguage | uppercase}}</span>
                             </span>
                         </a>
                         <ul class="dropdown-menu">
                             <li data-active-menu="{{key}}" data-ng-repeat="(key, language) in languages">
                                 <a href="" data-ng-click="changeLanguage(key)">{{language}}</a>
                             </li>
                         </ul>
					</li>
					<li
						data-ng-class="navClass('user-settings') + navClass('user-profile')"
						class="dropdown"><a href="" class="dropdown-toggle"
						data-toggle="dropdown">
						<img data-ng-src="{{userInfo.profileImageUrl}}" class="" height="20" width="20" data-ng-show="userInfo.profileImageUrl!=null"/>
			         		<i class="fa fa-user" data-ng-show="userInfo.profileImageUrl==null"></i>{{userInfo.firstName}} {{userInfo.lastName}}
			         		<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li data-ui-sref-active="active" >
								<a data-ui-sref="user-messages">Messages</a>
							</li>
							<li data-ui-sref-active="active"><a data-ui-sref="user-settings">{{'app.navbar.menu.settings' | translate}}</a></li>
							<li data-ui-sref-active="active"><a data-ui-sref="user-profile">{{'app.navbar.menu.profile' | translate}}</a></li>
							<li data-ui-sref-active="active" data-has-role="ROLE_ADMIN" ><a data-ui-sref="api-docs">{{'app.navbar.menu.api.doc' | translate}}</a></li>
							<li><a href="/auth/logout"><i
									class="fa fa-sign-out"></i>{{'app.navbar.menu.logout' | translate}}</a></li>
						</ul></li>
					</ul>
				</div>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<!-- End Fixed navbar -->
	<div data-ng-class="userLocalSettings.container" data-ng-cloak="" data-http-request-error=""><!-- class="global-container" --> 
		<!-- <div class="sidebar sidebar-fixed">hey i'am a side bar</div> -->
		<div class="main"><!-- <div class="main-content"> -->
			<!-- <div class="page-header">
				<h4>
					{{page.title | translate}} <i class="fa fa-angle-double-right"
						style="font-size: 80%"></i><small> {{page.description | translate}}</small>
				</h4>
			</div> -->
			<div data-ncy-breadcrumb="" data-ng-if="desktopScreen"></div>
			
			<div id="main-view" >
				<div class="panel panel-default">
					<div class="panel-body" data-ng-class="{ 'with-sub-navbar': $state.includes('company') || $state.includes('admin') }">
					<div id="alerts-container"></div>
					<div id="main-view" data-ui-view="" class="" data-ng-cloak=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="footer-v1">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">                     
                        <p>
                            2015 © All Rights Reserved.
                           <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                        </p>
                    </div>

                    <!-- Social Links -->
                    <div class="col-md-6">
                        <ul class="footer-socials list-inline">
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Social Links -->
                </div>
            </div> 
        </div><!--/copyright-->
    </div>
		<div id="topcontrol" data-scroll-to-top="50" title="Scroll Back to Top" ></div>
		<!-- <div class="scroll-top-wrapper" data-scroll-to-top="100">
			<span class="scroll-top-inner">
				<i class="fa fa-2x fa-arrow-circle-up"></i>
			</span>
		</div> -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
 	<!-- build:js /scripts/app/vendor.js -->
 	<script src="../../bower_components/jquery/dist/jquery.js"></script>
 	<script src="../../bower_components/jquery-ui/jquery-ui.js"></script>
 	<script src="../../bower_components/angular/angular.js"></script>
 	<script src="../../bower_components/angular-deferred-bootstrap/angular-deferred-bootstrap.js"></script>
 	<script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
 	<script src="../../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
 	<script src="../../bower_components/angular-resource/angular-resource.js"></script>
 	<script src="../../bower_components/angular-cookies/angular-cookies.js"></script>
 	<script src="../../bower_components/angular-translate/angular-translate.js"></script>
 	<script src="../../bower_components/angular-route/angular-route.min.js"></script>
 	<script src="../../bower_components/angular-animate/angular-animate.min.js"></script>
 	<script src="../../bower_components/moment/moment.js"></script>
 	<script src="../../bower_components/ng-table/dist/ng-table.js"></script>
 	<script src="../../bower_components/ng-file-upload/angular-file-upload-shim.min.js"></script>
	<script src="../../bower_components/ng-file-upload/angular-file-upload.js"></script>
	<script src="../../bower_components/angular-chosen-localytics/chosen.js"></script>
	<script src="../../bower_components/chosen/chosen.jquery.js"></script>
	<script src="../../bower_components/angular-daterangepicker/js/angular-daterangepicker.js"></script>
	<script src="../../bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="../../bower_components/angular-loading-bar/build/loading-bar.js"></script>
	<script src="../../bower_components/ngQuickDate/dist/ng-quick-date.min.js"></script>
	<script src="../../bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>
	<script src="../../bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>
	<script src="../../bower_components/angular-filter/dist/angular-filter.min.js"></script>
	<script src="../../bower_components/jquery.gritter/js/jquery.gritter.min.js"></script>
	<script src="../../bower_components/moment-range/lib/moment-range.js"></script>
	<script src="../../bower_components/angular-breadcrumb/dist/angular-breadcrumb.min.js"></script>
	<script src="../../bower_components/ng-finder/ng-finder.src.js"></script>
	<script src="../../bower_components/elfinder/js/elfinder.min.js"></script>
	<script src="../../bower_components/angular-cache-buster/angular-cache-buster.js"></script>
 	<script src="../../bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
 	<script src="../../bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
 	<script src="../../bower_components/fullcalendar/fullcalendar.js"></script>
 	<script src="../../bower_components/angular-ui-calendar/src/calendar.js"></script>
 	<script src="../../bower_components/angular-local-storage/angular-local-storage.js"></script>
 	<script src="../../bower_components/angular-strap/dist/angular-strap.js"></script>
 	<script src="../../bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
 	<script src="../../bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
 	<script src="../../bower_components/angular-timer/dist/angular-timer.js"></script>
 	<script src="../../bower_components/sockjs-client/dist/sockjs.js"></script>
 	<script src="../../bower_components/stomp-websocket/lib/stomp.js"></script>
 	<script src="../../bower_components/angular-media-queries/match-media.js"></script>
    <!-- endbuild -->
	
	<!-- build:js /scripts/app/app.js -->
	<script src="../../scripts/app/app.js"></script>
	<script src="../../scripts/app/app.constants.js"></script>
	<script src="../../scripts/common-app.js"></script>
	<script src="../../scripts/app/constants.js"></script>
	<script	src="../../scripts/app/home/home.controllers.js"></script>
	<script	src="../../scripts/app/home/home.js"></script>
	<script	src="../../scripts/app/activityreport/activityreport.controllers.js"></script>
	<script	src="../../scripts/app/activityreport/activityreport.js"></script>
	<script	src="../../scripts/app/error/error.js"></script>
	<script	src="../../scripts/app/error/error.controller.js"></script>
	<script	src="../../scripts/app/absences/absences.controllers.js"></script>
	<script	src="../../scripts/app/absences/absences.js"></script>
	<script	src="../../scripts/app/frais/frais.controllers.js"></script>
	<script	src="../../scripts/app/frais/frais.js"></script>
	<script	src="../../scripts/app/tasks/tasks.controllers.js"></script>
	<script	src="../../scripts/app/tasks/tasks.js"></script>
	<script	src="../../scripts/app/timesheet/timesheet.controllers.js"></script>
	<script	src="../../scripts/app/timesheet/timesheet.js"></script>
	<script	src="../../scripts/app/users/profile/users.profile.controllers.js"></script>
	<script	src="../../scripts/app/users/profile/users.profile.js"></script>
	<script	src="../../scripts/app/users/settings/users.settings.controllers.js"></script>
	<script	src="../../scripts/app/users/settings/users.settings.js"></script>
	<script	src="../../scripts/app/users/messages/users.messages.controllers.js"></script>
	<script	src="../../scripts/app/users/messages/users.messages.js"></script>
	<script	src="../../scripts/app/documents/documents.controllers.js"></script>
	<script	src="../../scripts/app/documents/documents.js"></script>
	<script	src="../../scripts/app/admin/admin.js"></script>
	<script	src="../../scripts/app/admin/company/admin.company.controllers.js"></script>
	<script	src="../../scripts/app/admin/company/admin.company.js"></script>
	<script	src="../../scripts/app/admin/docs/admin.docs.controllers.js"></script>
	<script	src="../../scripts/app/admin/docs/admin.docs.js"></script>
	<script	src="../../scripts/app/admin/home/admin.home.controllers.js"></script>
	<script	src="../../scripts/app/admin/home/admin.home.js"></script>
	<script	src="../../scripts/app/admin/logs/admin.logs.controllers.js"></script>
	<script	src="../../scripts/app/admin/logs/admin.logs.js"></script>
	<script	src="../../scripts/app/admin/configuration/admin.configuration.controllers.js"></script>
	<script	src="../../scripts/app/admin/configuration/admin.configuration.js"></script>
	<script	src="../../scripts/app/admin/metrics/admin.metrics.controllers.js"></script>
	<script	src="../../scripts/app/admin/metrics/admin.metrics.js"></script>
	<script	src="../../scripts/app/company/company.js"></script>
	<script	src="../../scripts/app/company/activities/company.activities.controllers.js"></script>
	<script	src="../../scripts/app/company/activities/company.activities.js"></script>
	<script	src="../../scripts/app/company/clients/company.clients.controllers.js"></script>
	<script	src="../../scripts/app/company/clients/company.clients.js"></script>
	<script	src="../../scripts/app/company/employees/company.employees.controllers.js"></script>
	<script	src="../../scripts/app/company/employees/company.employees.js"></script>
	<script	src="../../scripts/app/company/home/company.home.controllers.js"></script>
	<script	src="../../scripts/app/company/home/company.home.js"></script>
	<script	src="../../scripts/app/company/projects/company.projects.controllers.js"></script>
	<script	src="../../scripts/app/company/projects/company.projects.js"></script>
	<script	src="../../scripts/app/company/settings/company.settings.controllers.js"></script>
	<script	src="../../scripts/app/company/settings/company.settings.js"></script>
	
	
	<script src="../../scripts/bootstrap.file-input.js"></script>
	<script src="../../scripts/http-auth-interceptor.js"></script>
	<script src="../../scripts/colResizable-1.3.min.js"></script>
	<script src="../../scripts/components/filters/commons-filters.js"></script>
	<script src="../../scripts/components/factories/common-factories.js"></script>
	<script src="../../scripts/components/services/common-services.js"></script>
	<script	src="../../scripts/components/directives/commons-directives.js"></script>
	<script	src="../../scripts/components/directives/angular-criterias.js"></script>
	<script	src="../../scripts/components/widgets/widgets.controllers.js"></script>
	<script	src="../../scripts/components/others/ace.js"></script>
	<!-- endbuild -->
	
	<script th:inline="javascript" type="text/javascript">
		var _contextPath = [[@{/}]] ;
		/* var _userId = [[${userId}]];
		var _userCompanyName = [[${userCompanyName}]];
		var _userCompanyId = "[[${userCompanyId}]]"; */
		window.deferredBootstrapper.bootstrap({
		  element: window.document,
		  module: 'yaCRAApp',
		  resolve: {
		    USERINFO: ['$http', function ($http) {
		      return $http.get(_contextPath + 'app/api/users/user-info');
		    }]
		  },
		  onError: function (error) {
			    alert('Could not bootstrap, error: ' + error);
			  }
		});
	</script>
</body>
</html>
