<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-ng-app="yaCRAApp">
<head>
<title data-update-title=""></title>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<base th:href="@{/app/view/}" />
<!-- build:css @{/dist/css/yacra-app.min.css} -->
<link rel="stylesheet" th:href="@{/styles/flags/flags.css}"/>
<link rel="stylesheet"
	th:href="@{/styles/angular-criterias.css}"/>
<link rel="stylesheet"
	th:href="@{/styles/jquery.jOrgChart.css}"/>
<link rel="stylesheet"
	th:href="@{/bower_components/bootstrap-additions/dist/bootstrap-additions.min.css}"/>
<link rel="stylesheet"
	th:href="@{/bower_components/angular-motion/dist/angular-motion.css}"/>
<link rel="stylesheet"
	th:href="@{/bower_components/angular-loading-bar/build/loading-bar.css}"/>
<link rel="stylesheet"
	th:href="@{/bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css}"/>
<link rel="stylesheet"
	th:href="@{/bower_components/ng-table/ng-table.min.css}"/>
<link rel="stylesheet"
	th:href="@{/bower_components/angular-xeditable/dist/css/xeditable.css}"/>
<link rel="stylesheet"
	th:href="@{/bower_components/angular-bootstrap-colorpicker/css/colorpicker.css}"/>
<link rel="stylesheet"
	th:href="@{/bower_components/ngQuickDate/dist/ng-quick-date.css}"/>
	<link rel="stylesheet"
	th:href="@{/bower_components/ngQuickDate/dist/ng-quick-date-default-theme.css}"/>
<link rel="stylesheet"
	th:href="@{/bower_components/fullcalendar/fullcalendar.css}"/>

<link rel="stylesheet"
	th:href="@{/bower_components/ng-finder/examples/css/elfinder.css}"/>
<!-- <link rel="stylesheet"
	th:href="@{/bower_components/ng-finder/ng-finder.css}"/> -->
	<link rel="stylesheet" th:href="@{/bower_components/chosen/chosen.min.css}"/>
<link rel="stylesheet"
	th:href="@{/bower_components/jquery.gritter/css/jquery.gritter.css}"/>
<link rel="stylesheet" th:href="@{/styles/gritter.css}"/>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
<link rel="stylesheet"
	th:href="@{/bower_components/fontawesome/css/font-awesome.min.css}"/>
<link rel="stylesheet" th:href="@{/styles/yacra-fonts.css}"/>
<link rel="stylesheet" th:href="@{/styles/app.css}"/>
<link rel="stylesheet" th:href="@{/styles/yacranav.css}"/>
<link rel="stylesheet" th:href="@{/styles/yacrafooter.css}"/>
<!-- endbuild -->

<script th:inline="javascript" type="text/javascript">
	var _contextPath = [[@{/}]] ;
	var _userId = [[${userId}]];
	var _userCompanyName = [[${userCompanyName}]];
	var _userCompanyId = "[[${userCompanyId}]]";
</script>
</head>
<body data-ng-controller="AppCtrl" data-web-socket="" data-auth-application-support="" class="waiting-for-angular" data-events-to-wait="eventsToWait" data-application-loading-support="" data-connection-lost-support="">
	<!-- <div class="development-ribbon"></div> -->
	<!-- <div class="ribbon">
  		<a href="">Developpement</a>
	</div> -->
	<div id="initializing-panel"></div>
	<div id="app-login-content" data-ng-controller="LoginCtrl">
		<div class="row">
			<div class="auth-form col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
		
				<form data-ng-submit="submit()">
					<h3 class="form-signin-heading" style="text-align: center;">
						Session expired
					</h3>
					<hr/>
					<div class="alert alert-danger alert-dismissable" role="alert"
						data-ng-show="error">
						<button type="button" class="close" data-dismiss="alert">
							<span aria-hidden="true"><i class="fa fa-times"></i></span><span class="sr-only">Close</span>
						</button>
						{{errorMessage}}
					</div>
					<div class="margin-bottom">
						<div class="input-group margin-bottom-sm">
							<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
							<input class="form-control" type="text" name="username" data-ng-model="username"
								placeholder="Username" data-required="" data-autofocus=""/>
						</div>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
							<input class="form-control" type="password" name="password" data-ng-model="password"
								placeholder="Password" data-required=""/>
						</div>
					</div>
					<br/>
					<button class="btn btn-lg btn-primary btn-block" type="submit">
						<span class="bigger-110"> Login</span>
					</button>
				</form>
			</div>
		</div>
	</div>
	<div id="app-content">
	<!-- Fixed navbar -->
	<div class="navbar navbar-custom navbar-fixed-top" role="navigation"
		data-ng-cloak="">
		<div data-ng-class="containerNavClass()">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="."><span class="icon-yacra-full"></span></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navtop navbar-nav navbar-left">
					<li data-has-role="ROLE_ADMIN"
						data-ng-class="navClass('admin/')"><a
						data-ui-sref="admin"><i class="fa fa-star"></i>{{'app.navbar.menu.admin' | translate}}</a></li>
					<li data-has-role="ROLE_SSII_ADMIN" data-ng-cloak=""
						data-ng-class="navClass('company/')"><a
						data-ui-sref="company"><i class="fa fa-university"></i>{{userInfo.company.name}}</a></li>
					<li class="dropdown" data-ng-class="navClass('frais') + navClass('activity-report') + navClass('absences') + navClass('timesheet')">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">{{'app.navbar.menu.workspace' | translate}}<span class="caret"></span></a>
						<ul class="workspace-menu dropdown-menu " role="menu">
							<li data-ng-class="navClass('tasks')" class="visible-xs-inline visible-sm-inline">
								<a data-ui-sref="tasks"><i class="fa fa-tasks"></i>{{'app.navbar.menu.tasks' | translate}}</a>
							</li>
							<li data-ng-class="navClass('frais')"><a data-ui-sref="frais">{{'app.navbar.menu.frais' | translate}}</a></li>
							<li data-ng-class="navClass('activity-report')"><a data-ui-sref="activity-report">{{'app.navbar.menu.cra' | translate}}</a></li>
							<li data-ng-class="navClass('absences')"><a
								data-ui-sref="absences">{{'app.navbar.menu.absences' | translate}}</a></li>
							<li data-ng-class="navClass('timesheet')"><a
								data-ui-sref="timesheet">{{'app.navbar.menu.timesheet' | translate}}</a></li>
							<li data-ng-class="navClass('files')"><a
								data-ui-sref="files">{{'app.navbar.menu.files' | translate}}</a></li>
						</ul>
					</li>
					<li data-ng-class="navClass('tasks')" class="visible-md-inline visible-lg-inline">
						<a data-ui-sref="tasks"><i class="fa fa-tasks"></i>{{'app.navbar.menu.tasks' | translate}}</a>
					</li>
				</ul>
				<div data-ng-controller="WorkLogCtrl">
					<ul class="nav navtop navbar-nav navbar-right">
						<li class="dropdown timer-widget" >
							<a data-toggle="dropdown" class="dropdown-toggle" href="">
								<i class="fa fa-clock-o" ></i>
								<span  data-ng-class="{'visible-lg-inline visible-md-inline' : timerRunning}" data-ng-show="timerRunning">[{{task.name}}]</span>
								<timer autostart="false" interval="1000" data-ng-show="timerRunning">{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
							</a>
							<div class="timer-widget-content dropdown-menu">
									<form role="form">
										<div class="form-group">
	   										<!-- <label for="project">{{'app.navbar.timer.project' | translate}}</label> -->
											<select id="project" class="form-control"  data-chosen="" data-ng-change="selectProject(project)"
									          data-placeholder="Select a project"
									          data-ng-model="project"
									          data-ng-options="p.name for p in projects">
							           		<option value=""></option>
								  			</select>
								  		</div>
								  		<div class="form-group">
	   										<!-- <label for="task">Task</label> -->
								  			<select id="task" class="form-control"  data-chosen="" data-ng-change="selectTask(task)"
										          data-placeholder="Select a task"
										          data-ng-model="task"
										          data-ng-options="t.name for t in tasks">
								           		<option value=""></option>
								  			</select>
								  		</div>
							  			 <div class="form-group">
										    <label for="description">Note</label>
										    <textarea id="description" data-ng-model="description" class="form-control" data-placeholder="Enter a note"></textarea>
										  </div>
										<button type="button" class="btn btn-success btn-xs btn-block" data-ng-click="startTimer()" data-ng-disabled="!startable">Start</button>
									</form>
							</div>
						</li>
						<li><button type="button" class="btn btn-danger btn-xs navbar-btn"  data-ng-click="stopTimer();" data-ng-show="timerRunning" >Stop</button></li>
						<li data-ng-class="navClass('messages')" data-ng-show="userInfo.hasNewMessages"><a
						data-ui-sref="messages"><i class="fa fa-envelope"></i></a></li>
					<!-- <li data-ng-class="navClass('notifications')"><a
						data-ui-sref="notifications"><i class="fa fa-bell"></i></a></li> -->
					<li class="dropdown" data-ng-controller="LanguageController">
						 <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                             <span>
                                 <i class="fa fa-globe"></i>
                                 <span class="hidden-tablet">{{currentLanguage | uppercase}}</span>
                             </span>
                         </a>
                         <ul class="dropdown-menu">
                             <li data-active-menu="{{key}}" data-ng-repeat="(key, language) in languages">
                                 <a href="" data-ng-click="changeLanguage(key)">{{language}}</a>
                             </li>
                         </ul>
					</li>
					<li
						data-ng-class="navClass('user-settings') + navClass('user-profile')"
						class="dropdown"><a href="" class="dropdown-toggle"
						data-toggle="dropdown"><i class="fa fa-user"></i>{{userInfo.firstName}} {{userInfo.lastName}}<span
							class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li data-ng-class="navClass('messages')" >
								<a data-ui-sref="messages">Messages</a>
							</li>
							<li><a data-ui-sref="user-settings">{{'app.navbar.menu.settings' | translate}}</a></li>
							<li><a data-ui-sref="user-profile">{{'app.navbar.menu.profile' | translate}}</a></li>
							<li><a data-ui-sref="api-docs">{{'app.navbar.menu.api.doc' | translate}}</a></li>
							<li><a th:href="@{/auth/logout}"><i
									class="fa fa-sign-out"></i>{{'app.navbar.menu.logout' | translate}}</a></li>
						</ul></li>
					</ul>
				</div>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<!-- End Fixed navbar -->
	<div data-ng-class="containerClass()" data-ng-cloak="" data-http-request-error=""><!-- class="global-container" --> 
		<!-- <div class="sidebar sidebar-fixed">hey i'am a side bar</div> -->
		<div class="main"><!-- <div class="main-content"> -->
			<!-- <div class="page-header">
				<h4>
					{{page.title | translate}} <i class="fa fa-angle-double-right"
						style="font-size: 80%"></i><small> {{page.description | translate}}</small>
				</h4>
			</div> -->
			<div data-ncy-breadcrumb=""></div>
			
			<div id="main-view" >
				<div class="panel panel-default">
					<div class="panel-body">
					<div id="alerts-container"></div>
					<div id="main-view" data-ui-view="" class="" data-ng-cloak=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
      <div class="container">
        	<p>@Wati - Copyrigth 2014</p>
        	<div class="col-md-4">
        		<ul>
        			<li>Social</li>
        			<li><a href=""><i class="fa fa-twitter"></i> Twitter</a></li>
        			<li><a href=""><i class="fa fa-facebook"></i> Facebook</a></li>
        			<li><a href=""><i class="fa fa-youtube"></i> YouTube</a></li>
        			
        		</ul>
        	</div>
        	<div class="col-md-4">
        		<ul>
        			<li>Quick links</li>
        			<li><a href="">Home</a></li>
        			<li><a href="">Company</a></li>
        			<li><a href="">Clients</a></li>
        			
        		</ul>
        	</div>
        	<div class="col-md-4">
        		<ul>
        			<li>Contact us</li>
        			<li><a href=""><i class="fa fa-envelope"></i> YACRA support team</a></li>
        			<li><a href=""><i class="fa fa-facebook"></i> Facebook</a></li>
        			<li><a href=""><i class="fa fa-youtube"></i> YouTube</a></li>
        			
        		</ul>
        	</div>
        
      </div>
    </div>
	</div>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
<!-- build:js @{/dist/js/yacra-app.js} -->
	<script
		th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
		<script
		th:src="@{/bower_components/jquery-ui/jquery-ui.min.js}"></script>
	<script th:src="@{/bower_components/angular/angular.js}"></script>
	<script th:src="@{/scripts/app/application.js}"></script>
	<script th:src="@{/scripts/app/constants.js}"></script>
	<script th:src="@{/scripts/jquery.jOrgChart.js}"></script>
	<script
		th:src="@{/scripts/app/controllers/app-controller.js}"></script>
	<script
		th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
	<script
		th:src="@{/bower_components/ng-file-upload/angular-file-upload-shim.min.js}"></script>
	<script
		th:src="@{/bower_components/ng-file-upload/angular-file-upload.js}"></script>
	<script th:src="@{/scripts/bootstrap.file-input.js}"></script>
	<script
		th:src="@{/bower_components/angular-ui-router/release/angular-ui-router.js}"></script>
	<script
		th:src="@{/bower_components/angular-resource/angular-resource.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-xeditable/dist/js/xeditable.min.js}"></script>
	<script
		th:src="@{/bower_components/fullcalendar/fullcalendar.js}"></script>
	<script
		th:src="@{/bower_components/angular-ui-calendar/src/calendar.js}"></script>
	<script
		th:src="@{/bower_components/angular-route/angular-route.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-strap/dist/angular-strap.min.js}"></script>
	<script 
		th:src="@{/bower_components/angular-cookies/angular-cookies.js}"></script>
	<script 
		th:src="@{/bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js}"></script>
	<script
		th:src="@{/bower_components/angular-strap/dist/modules/popover.js}"></script>
	<script
		th:src="@{/bower_components/angular-strap/dist/modules/popover.tpl.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-animate/angular-animate.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-loading-bar/build/loading-bar.min.js}"></script>
	<script
		th:src="@{/bower_components/ng-table/ng-table.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-strap/dist/modules/alert.min.js}"></script>
		<script
		th:src="@{/bower_components/angular-filter/dist/angular-filter.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-daterangepicker/js/angular-daterangepicker.js}"></script>
	<script
		th:src="@{/bower_components/bootstrap-daterangepicker/daterangepicker.js}"></script>
	<script
		th:src="@{/bower_components/angular-strap/dist/modules/select.js}"></script>
	<script
		th:src="@{/bower_components/moment/moment.js}"></script>
	<script
		th:src="@{/bower_components/elfinder/js/elfinder.min.js}"></script>
	<script
		th:src="@{/bower_components/ng-finder/ng-finder.src.js}"></script>
		<script
		th:src="@{/bower_components/moment-range/lib/moment-range.js}"></script>
	<script
		th:src="@{/bower_components/angular-translate/angular-translate.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-strap/dist/modules/modal.js}"></script>
	<script
		th:src="@{/bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js}"></script>
	<script
		th:src="@{/bower_components/ngQuickDate/dist/ng-quick-date.min.js}"></script>
	<script
		th:src="@{/bower_components/jspdf/dist/jspdf.debug.js}"></script>
	<script
		th:src="@{/bower_components/angular-breadcrumb/dist/angular-breadcrumb.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-strap/dist/angular-strap.tpl.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-strap/dist/modules/datepicker.min.js}"></script>
		<script
		th:src="@{/bower_components/angular-strap/dist/modules/timepicker.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-strap/dist/modules//tooltip.js}"></script>
	<script
		th:src="@{/bower_components/angular-timer/dist/angular-timer.js}"></script>
	<script
		th:src="@{/bower_components/jquery.gritter/js/jquery.gritter.min.js}"></script>
	<script th:src="@{/scripts/sockjs-0.3.4.js}"></script>
	<script th:src="@{/scripts/stomp.js}"></script>
	<script th:src="@{/scripts/http-auth-interceptor.js}"></script>
	<script th:src="@{/scripts/colResizable-1.3.min.js}"></script>
	<script th:src="@{/bower_components/angular-chosen-localytics/chosen.js}"></script>
	<script th:src="@{/bower_components/chosen/chosen.jquery.js}"></script>
	<script th:src="@{/scripts/app/filters/commons-filters.js}"></script>
	<script
		th:src="@{/scripts/app/controllers/home-controller.js}"></script>
	<script
		th:src="@{/scripts/app/controllers/sidebar-controller.js}"></script>
	<script
		th:src="@{/scripts/app/controllers/admin-controller.js}"></script>
	<script
		th:src="@{/scripts/app/controllers/frais-controllers.js}"></script>
	<script
		th:src="@{/scripts/app/controllers/messages-controller.js}"></script>
	<script
		th:src="@{/scripts/app/controllers/company-controller.js}"></script>
	<script th:src="@{/scripts/app/factories/common-factories.js}"></script>
	<script th:src="@{/scripts/app/services/common-services.js}"></script>
	<script
		th:src="@{/scripts/app/directives/commons-directives.js}"></script>
	<script
		th:src="@{/scripts/app/directives/angular-criterias.js}"></script>
	<script
		th:src="@{/scripts/app/controllers/timesheet-controller.js}"></script>
	<script
		th:src="@{/scripts/app/controllers/users-controller.js}"></script>
	<script
		th:src="@{/scripts/app/controllers/absences-controller.js}"></script>
	<script
		th:src="@{/scripts/app/controllers/tasks-controller.js}"></script>
	<script
		th:src="@{/scripts/app/controllers/activity-report-controller.js}"></script>
	<script
		th:src="@{/scripts/app/controllers/user-settings-controller.js}"></script>
	<script
		th:src="@{/scripts/app/controllers/user-profile-controller.js}"></script>
		<!-- endbuild -->
</body>
</html>
