<div class="panel panel-default am-fade">
	<div class="panel-body tasks">
		<div data-ng-criteria-bar data-criteria-bar-config="criteriaBarConfig" data-do-filter="doFilter(criteriaBarConfig.filters)"></div>
		<ul class="list-group">
			<!-- Iterate over project -->
			<li class="list-group-item project-list-group-item">
				<ul class="list-group">
					<!-- Iterate over Tasks -->
					<li class="list-group-item task-list-group-item">
					
					</li>
				</ul>
				<button type="button" class="btn btn-link btn-sm">Add task</button>
			</li>
		</ul>
	</div>
</div>