<div class="panel panel-default am-fade">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-4">
				<!-- Single button -->
				<button type="button" class="btn btn-primary"  data-template="../views/app/templates/edit-worklog.tpl.html"
					data-bs-modal="modal">
					<span class="fa fa-plus-square"></span> Ajouter
				</button>
				<button type="button" class="btn btn-default"
					data-ng-show="initialSelectionChanged || edition"
					data-ng-click="reset()">Cancel</button>
			</div>
		</div>
		<div>{{alertMessage}}</div>
		<div class="row">
			<div data-ng-criteria-bar data-criteria-bar-config="criteriaBarConfig" data-do-filter="doFilter(criteriaBarConfig.filters)"></div>		
		</div>
		<div class="row">
			<span style="vertical-align: middle;" data-ng-show="tableParams.settings().total>0"><b>{{startIndex}}</b> - <b>{{endIndex}}</b> of <b>{{tableParams.settings().total}}</b></span>
		</div>
		<div class="row">
			<div data-ui-calendar="uiConfig.calendar" data-ng-model="eventSources"></div>
		</div>
	</div>
</div>