<div class="modal" id="editionAbsencesFormModal" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" ng-click="$hide()">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h3 data-ng-show="!edition" class="panel-title">Add timeoff</h3>
				<h3 data-ng-show="edition" class="panel-title">Edit timeoff</h3>
			</div>
			<div class="modal-body">
				<div data-ng-include="'/scripts/templates/partials/absences-form.html'"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm btn-round"
							data-ng-click="postAbsence($hide)" data-ng-show="!edition" data-ng-disabled="currentAbsence.typeAbsence == undefined">
					<i class="ace-icon fa fa-floppy-o"></i>
					Submit
				</button>
				<button type="button" class="btn btn-link" data-ng-click="$hide()" data-dismiss="modal">Cancel</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
