<div class="modal" id="editionFormModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog confirm-modal">
		<div class="modal-content">
			<div class="modal-header">
				<!-- <button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button> -->
				<h3 class="panel-title">Authentication required</h3>
			</div>
			<div class="modal-body">
				<div class="lock-container text-center" data-ng-controller="LoginCtrl">
			         <i class="pe-7s-lock big-icon text-success"></i>
			         <br/>
			         <h4><span class="text-success">{{ clock  | date:'h:mm:ss'}}</span> <span class="text-primary">{{ clock  | date:'a'}}</span>  <strong>{{ clock | date:'EEEE, MMMM d, y'}}</strong></h4>
			         <p>Your are in lock screen. Main app was shut down and you need to enter your passwor to go back to app.</p>
			         <form data-ng-submit="submit()" role="form" class="m-t">
			             <div class="form-group">
			                 <label class="control-label" for="username">Username</label>
			                 <input class="form-control"
						type="text" name="username" data-ng-model="username"
						placeholder="Username" data-required="" data-autofocus="" />
			             </div>
			             <div class="form-group">
			                 <label class="control-label" for="username">Password</label>
			                 <input class="form-control"
								type="password" name="password" data-ng-model="password"
								placeholder="Password" data-required="" />
			             </div>
			             <button class="btn btn-success btn-block" type="submit">Login</button>
			         </form>
		</div>
			</div>
			<!-- <div class="modal-footer">
				<button type="button" class="btn btn-success"
					data-ng-click="yes($hide)" data-ng-show="!edition">Yes</button>
				<button type="button" class="btn btn-link" data-ng-click="no($hide)" data-dismiss="modal">No</button>
			</div> -->
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
