<div class="tab-pane" data-ng-class="{'active' : isActiveTab('myTimeOff') }">
  	<div class="row">
		<div class="btn-toolbar" role="toolbar">
		  <div class="btn-group ">
		  	<button type="button" class="btn btn-success btn-white" data-template="{{appContextPath}}views/app/templates/edit-absences.tpl.html" data-bs-modal="modal" >
				<i class="fa fa-plus"></i> Ajouter
			</button>
		  </div>
		</div>
	</div>
  	<absence-portfolio></absence-portfolio>
  	<div data-ng-criteria-bar data-criteria-bar-config="criteriaBarConfig" data-do-filter="doFilter(criteriaBarConfig.filters)"></div>		
	<div class="alert alert-warning text-center" role="alert" ng-show="!hasDatas">
		<h4>No data found for selected criterias</h4>
	</div>
	<div class="row" data-ng-show="hasDatas"> 
		<span style="vertical-align: middle;" data-ng-show="tableParams.settings().total>0"><b>{{startIndex}}</b> - <b>{{endIndex}}</b> of <b>{{tableParams.settings().total}}</b></span>
		<div class="btn-group" style="padding-left:5px;" >
		    <a href="" data-ng-click="refreshDatas()"><i class="fa fa-refresh"></i></a> 
		</div>
		<div class="btn-group pull-right">
		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-ng-disabled="selectedAbsences.length<=1">
		    <i class="fa fa-cog"></i> Bulk <span  data-ng-show ="selectedAbsences.length>1" class="badge">{{selectedAbsences.length}}</span> <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
		    <li data-ng-show="!absence.validated"><a href="" data-ng-click="validateSelectedAbsence()"><i class="fa fa-check" style="color: green;"></i>Validate</a></li>
		    <li class="divider"></li>
		    <li><a href="" data-ng-click="deleteSelectedAbsence()"><i class="fa fa-trash-o" style="color: red;"></i>Delete</a></li>
		  </ul>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover" data-ng-table="tableParams" data-ng-show="hasDatas" >
				<tr align="left" data-ng-repeat="absence in $data" class="">
					<td style="width:20px;" data-header="'ng-table/headers/checkbox.html'">
						<label class="checkbox-inline">
						  <input type="checkbox"  data-ng-model="checkboxes.items[absence.id]" class="ace">
						  <span class="lbl"></span>
						</label>
					</td>
					<td data-title="'Posted'" data-sortable="'date'">{{ absence.date | date : 'short'}}</td>
					<td data-title="'Employee'" data-sortable="'employe'" >{{ absence.employeName}}</td>
					<td data-title="'Type'" data-sortable="'typeAbsence'" >{{ absence.typeAbsence}}</td>
					<td data-title="'From'" data-sortable="'startDate'">{{ absence.startDate | date : dateFormat }}</td>
					<td data-title="'To'" data-sortable="'endDate'">{{ absence.endDate | date : dateFormat }}</td>
					<td data-title="'Description'" data-sortable="'description'" class="hidden-xs">{{ absence.description }}</td>
					<td data-title="'Validation'" data-sortable="'validationStatus'" align="right"><span class="label" data-ng-class="{'label-success' : isValidated(absence) , 'label-warning' : isWaiting(absence), 'label-danger' : isRejected(absence)}">{{absence.validationStatus}}</span></td>
					<td class="">
						<div class="btn-group actions-btn" role="group">
						  <button type="button" class="btn btn-link" data-ui-sref="absence.detail({id:absence.id})"><span class="fa fa-eye"></span></button>
						  <button type="button" class="btn btn-link"><span class="fa fa-pencil"></span></button>
						  <button type="button" class="btn btn-link" data-ng-click="deleteAbsence(absence.id)" data-ng-confirm="Are you sure to want to delete this absence?"><span class="fa fa-trash-o red"></span></button>
						</div>
					</td>
				</tr>
		</table>
		<script type="text/ng-template" id="ng-table/headers/checkbox.html">
        			<label class="checkbox-inline">
						  <input type="checkbox" data-ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" class="ace"/>
						<span class="lbl"></span>
					</label>
   		</script>
	</div>
  </div>