body > .container{
padding-top: 40px;
/* padding-left: 20px;
padding-right: 20px; */
}

.navbar .container-fluid{
	padding-left: 40px !important;
	padding-right: 40px !important;
}

.nav>li>a{
	padding: 15px 5px !important;
}	
.footerh {
  height: 40px;
  background-color: #f5f5f5;
   position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}
 .container {
	padding-right: 5px !important;
	padding-left: 5px !important;
}

.navbar-right{
	font-size: 12px;
}
/* Animation section */
.animate-enter,.animate-leave {
	-webkit-transition: 625ms cubic-bezier(0.600, 0.040, 0.980, 0.335) all;
	-moz-transition: 625ms cubic-bezier(0.600, 0.040, 0.980, 0.335) all;
	-ms-transition: 625ms cubic-bezier(0.600, 0.040, 0.980, 0.335) all;
	-o-transition: 625ms cubic-bezier(0.600, 0.040, 0.980, 0.335) all;
	transition: 625ms cubic-bezier(0.600, 0.040, 0.980, 0.335) all;
}

.animate-enter {
	left: 100%;
}

.animate-enter.animate-enter-active {
	left: 0;
}

.animate-leave {
	left: 0;
}

.animate-leave.animate-leave-active {
	left: -100%;
}

/* body {
  padding: 40px !important;
} */

/* End of animation section */
.main.container {
	padding-top: 40px;
}

.user-menu{
	font-size: 12px;
}
.user-menu.dropdown-menu{
	min-width: 0 !important;
	font-size: 12px;
}

.user-menu>li>a>i {
	margin-right: 6px;
	font-size: 120%;
}

a i.fa {
	margin-right: 6px;
	font-size: 120%;
}

a .badge {
	margin-left: 5px;
}

.panel-body .row {
	margin-right: inherit;
	margin-left: inherit;
	margin-bottom: 15px;
}

/* Datepicker section */
/* .datepicker{
	z-index: 99999999999999 !important;
	}
.datepicker.dropdown-menu {
	width: 250px;
  height: 250px;
	padding: 0px;
}

.datepicker.dropdown-menu button {
	outline: none;
	border: 0px;
}

.datepicker.dropdown-menu tbody {
	height: 120px;
}

.datepicker.dropdown-menu tbody button {
	padding: 1px;
}

.datepicker.dropdown-menu.datepicker-mode-1 tbody button,.datepicker.dropdown-menu.datepicker-mode-2 tbody button
	{
	height: 25px;
} */
.datepicker.table>thead>tr>th,
.datepicker.table>tbody>tr>th,
.datepicker.table>tfoot>tr>th,
.datepicker.table>thead>tr>td,
.datepicker.table>tbody>tr>td,
.datepicker.table>tfoot>tr>td
{
	padding: 0px !important;
}

/* End of Date picker section */
#cra-container {
	max-width: 100%;
	overflow: auto;
}

.cra-we {
	background-color: LightGray;
}

.cra-table td {
	text-align: center;
}

.custom-checkbox{
	 display: none;
}
.ng-table th{
		text-align: left !important;
}
input[type="radio"]+span:before,input[type="checkbox"]+span:before {
	font-family: 'FontAwesome';
	padding-right: 1px;
	font-size: 15px;
}

input[type="radio"]+span:before {
	content: "\f10c"; /* circle-blank */
}

input[type="radio"]:checked+span:before {
	content: "\f111"; /* circle */
}

input[type="checkbox"]+span:before {
	content: "\f096"; /* check-empty */
}

input[type="checkbox"]:checked+span:before {
	content: "\f046"; /* check */
	color: green;
}

span.icon {
	font-family: FontAwesome;
}

span.validated.icon {
	color: green;
}

span.not-validated.icon {
	color: red;
	content: "\f057";
}

.ng-table {
    /* border: 1px solid #000; */
}