.development-ribbon {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.container>.navbar-header,.container-fluid>.navbar-header,.container>.navbar-collapse,.container-fluid>.navbar-collapse
	{
	margin-right: -15px;
	margin-left: inherit;
}

.table-responsive>.fixed-column {
	position: absolute;
	display: inline-block;
	width: auto;
	border-right: 1px solid #ddd;
}

@media ( min-width :768px) {
	.table-responsive>.fixed-column {
		display: none;
	}
}

.margin-bottom {
	margin-bottom: 10px !important;
}

.borderless tbody tr td,.borderless thead tr th {
	border: none;
}

.timeoff-popover-form {
	padding: 5px;
}

.timeoff-popover-form .form-group {
	padding: 5px;
}

.breadcrumb>li+li:before {
	font-family: FontAwesome;
	font-size: 14px;
	content: "\f105" !important;
	color: #b2b6bf !important;
	position: relative;
	top: 1px;
	font-weight: bold;
}

.table .checkbox-inline input[type=checkbox] {
	position: inherit !important;
}

.alert.top {
	z-index: 1002 !important;
}

.dropdown-menu {
	z-index: 1010 !important;
}

/* start Password strength bar style */
ul#strength {
	display: inline;
	list-style: none;
	margin: 0;
	margin-left: 15px;
	padding: 0;
	vertical-align: 2px;
}

.point:last {
	margin: 0 !important;
}

.point {
	background: #DDD;
	border-radius: 2px;
	display: inline-block;
	height: 5px;
	margin-right: 1px;
	width: 20px;
}
/* end Password strength bar style */
.vcard {
	border: 1px solid;
	border-color: #ccc;
	border-radius: 7px;
	margin: 3px;
	padding: 10px 3px;
}

.vcard a.editable-click {
	border-bottom: 1px solid;
	border-color: transparent;
}

.vcard a.editable-click:HOVER {
	border-color: inherit;
}

.vcard:HOVER {
	border-color: #999;
}

.vcard .close {
	position: relative;
	top: -2px;
	color: inherit;
}

.auth-form {
	padding: 19px 29px 29px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	margin-top: 60px;
}

.modal-dialog.confirm-modal {
	width: auto !important;
}

.modal-dialog.confirm-modal .modal-header {
	padding: 10px;
	text-align: center;
}

.modal-dialog.confirm-modal .modal-body {
	padding: 10px;
}

.modal-dialog.confirm-modal .modal-body .well {
	margin-bottom: 0px;
}

.modal-dialog.confirm-modal .modal-footer {
	padding: 10px;
	margin-top: 5px;
}

.popover-content .form-group {
	margin-bottom: auto !important;
}

.inverse-dropdown {
	background-color: #222 !important;
	border-color: #080808 !important;
}

.inverse-dropdown>li>a {
	color: #999 !important;
}

.inverse-dropdown>.active>a,.inverse-dropdown>li>a:hover {
	color: #fff !important;
	background-color: #000 !important;
}

.tasks .project-list-group-item {
	border: none;
}

table.table>tr>td,table.table>tbody>tr>td {
	/* max-width:50px; */
	width: auto;
	min-width: 10px;
}

table.editable-form-table tr td:first-child {
	background-color: #e8e8e8;
	width: 25%;
}

@media only screen and (min-width: 992px) {
	table.table>tr>td .tool-btn,table.table>tbody>tr>td .tool-btn {
		display: none;
	}
	table.table>tr:HOVER>td .tool-btn,table.table>tbody>tr:HOVER>td .tool-btn
		{
		display: inherit;
	}
}

table.table>tr,table.table>tbody>tr {
	vertical-align: middle;
	height: 40px;
	text-align: left;
}

table.table>tr>td.tool-btn-col,table.table>tbody>tr>td.tool-btn-col {
	width: 60px;
}

#loading-bar .bar {
	top: 50px !important;
	height: 3px !important;
}

#loading-bar-spinner {
	top: 60px !important;
	right: 10px !important;
	left: auto !important;
	z-index: 1049 !important;
}

.popover.timesheet-event {
	min-width: 300px;
}

.popover.stacktrace {
	min-width: 600px;
	max-height: 500px;
}

.popover.stacktrace .popover-content {
	overflow: auto;
	height: 450px;
}

.timer-widget .timer-widget-content {
	padding: 15px 15px;
}

.timer-widget.open {
	background-color: #080808;
}

.timer-widget.running {
	padding: 12px 15px;
}

.timer-widget>a>button {
	margin: 0px inherit;
	padding: 0px inherit;
	border: none;
}

/* .timer-widget>a,
timer{
	padding-right: 5px;
} */
.timer-widget>a:HOVER {
	color: #fff;
}

.timer-widget>a,timer>span,.timer-widget>span {
	color: #fff;
	font-weight: bold;
}

.timer-widget.open>a {
	background-color: #080808 !important;
	color: #fff;
}

.timer-widget .timer-widget-content {
	position: absolute;
	z-index: 1000;
	border: 1px solid #999;
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	min-width: 278px;
	/*margin-right: 30px;*/
	padding: 8px;
	background-color: #fff;
	/* text-align: left; */
	color: #080808;
	left: auto;
	right: 0;
}

timer>span {
	/* font-size: 15px; */
	
}

.timer-widget-content>.chosen-container {
	display: block !important;
	width: auto !important;
	padding: 8px;
}

.timer-widget-content>.btn {
	width: 100%;
	padding-bottom: 5px;
}

.chosen-container {
	display: block !important;
	width: auto !important;
}

.panel {
	border: 1px solid #e5e5e5 !important;
	background-color: #fff !important;
}

.panel.sub-panel {
	border: none !important;
}

/* feat: before angular is ready, display loading animation */
body.waiting-for-angular div#app-login-content,body.waiting-for-angular div#app-content
	{
	display: none;
}

body.waiting-for-angular div#initializing-panel {
	display: block;
	background: url(../images/loading.gif) center center no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.page-header {
	padding-bottom: 0 !important;
	margin: 30px 0 0px !important;
	border: none !important;
}

#main-breadcrumb {
	background-color: #fff;
	margin: 30px 0 5px !important;
	border: 1px solid #e5e5e5 !important;
}

.sub-menu {
	padding-bottom: 10px;
}

.sub-menu.nav>li>a {
	position: relative;
	display: block;
	padding: 5px 10px;
	border-bottom: 5px solid transparent;
}

.sub-menu.nav>li>a:HOVER,.sub-menu.nav-pills>li.active>a,.sub-menu.nav-pills>li.active>a:HOVER
	{
	border-bottom: 5px solid #428bca;
	background: none;
	border-radius: 0px;
	color: #428bca;
}

.sub-menu.nav-pills>li.active>a>span.badge {
	background-color: #428bca;
	color: #fff;
}

.ng-table-rowselected tr {
	cursor: pointer;
}

.dropdown-menu.table-action {
	right: 0;
	left: auto;
	top: 80%;
}

.scrollable {
	height: 100%;
	overflow: auto;
}

.max-height {
	height: 100%;
}

.no-overflow {
	overflow: hidden;
}

fieldset.collapsible.collapsed {
	border-top: 1px solid #e6e6e6;
	padding: 5px;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
}

fieldset.collapsible {
	border-top: 1px solid #e6e6e6;
	margin-bottom: 5px;
	padding: 5px;
}

fieldset.collapsible>legend {
	margin-left: 20px;
	margin-bottom: 1px !important;
	padding: 0 5px;
	width: auto;
	border-bottom: 0 !important;
	font-weight: bold;
	font-size: 90%;
	color: #3276b1
}

fieldset.collapsible>legend:HOVER {
	cursor: pointer;
}

fieldset.collapsible.collapsed>div {
	display: none;
}

fieldset.collapsible>div {
	display: block;
	padding-left: 20px;
}

.ng-table>tbody>tr>td {
	padding: 0 5px !important;
	vertical-align: middle !important;
}

.tool-toggle.collapsed {
	background-position: 0 -30px;
}

.tool-toggle {
	background-position: 0 -15px;
}

.tool-img {
	overflow: hidden;
	width: 15px;
	height: 15px;
	margin: 0;
	border: 0px;
	background-image: url(../images/tools/tool-sprites.png);
}

.form-group.required .control-label:after {
	content: "*";
	color: red;
}

body {
	font-family: 'Open Sans';
	font-size: 13px !important;
	color: #393939;
	background-color: #f5f5f5 !important;
}

.ng-table th.sortable.sort-desc,.ng-table th.sortable.sort-asc {
	background-color: #F2F2F2 !important;
}

.table>thead>tr {
	/* color: #707070; */
	font-weight: normal;
	/* background: #F2F2F2; */
	/* background-image: -webkit-linear-gradient(top, #f8f8f8 0, #ececec 100%);
	background-image: linear-gradient(to bottom, #f8f8f8 0, #ececec 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8',
		endColorstr='#ffececec', GradientType=0); ljlj*/
}

.table.table-bordered>thead>tr>th:first-child {
	border-left-color: #ddd;
}

.table.table-bordered>thead>tr>th {
	vertical-align: middle;
}

.table>thead>tr>th {
	border-color: #ddd;
	font-weight: bold;
}

th,td,.table-bordered {
	border-radius: 0 !important;
}

body>.container,body>.container-fluid {
	padding-top: 30px;
}

#app-content {
	padding-top: 30px;
}

.container-fluid.global-container {
	padding-left: 0 !important;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.sidebar {
	width: 190px;
	float: left;
	position: static;
	padding-right: 0;
	background-color: #f2f2f2;
	padding-top: 30px;
}

.sidebar:before {
	content: "";
	display: block;
	width: inherit;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: -1;
	background-color: inherit;
	border-style: inherit;
	border-color: inherit;
	border-width: inherit;
}

.sidebar.sidebar-fixed {
	position: fixed;
	top: auto;
	float: none !important;
	z-index: 1027;
}

.sidebar.sidebar-fixed:before {
	height: 5000px;
	top: auto;
	bottom: auto;
}

.sidebar .sidebar-toggle {
	border-style: solid;
	border-width: 0 0 1px;
	text-align: center;
	padding: 3px 0;
	position: relative;
}

.sidebar .sidebar-toggle:before {
	content: "";
	display: block;
	height: 0;
	border-top: 1px solid;
	border-color: inherit;
	position: absolute;
	left: 15px;
	right: 15px;
	top: 13px;
}

.main-content {
	margin-left: 195px;
	padding-left: 10px;
	min-height: 100%;
	padding: 0;
}

.main-content {
	/*  margin-left: 0 !important; */
	
}

#page-content-wrapper {
	width: 100%;
}

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar-nav li {
	line-height: 40px;
	text-indent: 5px;
}

.sidebar-nav li a {
	color: #999999;
	display: block;
	text-decoration: none;
}

.sidebar-nav li a:hover {
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
	text-decoration: none;
	cursor: pointer;
}

.sidebar-nav li a:active,.sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav li a.active {
	color: #fff;
	background-color: #080808;
}

.sidebar-nav>.sidebar-brand {
	height: 65px;
	line-height: 60px;
	font-size: 18px;
}

.sidebar-nav>.sidebar-brand a {
	color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
	color: #fff;
	background: none;
}

.content-header {
	height: 65px;
	line-height: 65px;
}

.content-header h1 {
	margin: 0;
	margin-left: 20px;
	line-height: 65px;
	display: inline-block;
}

#menu-toggle {
	display: none;
}

.inset {
	padding: 20px;
}

@media ( max-width :767px) {
	#wrapper {
		padding-left: 0;
	}
	#sidebar-wrapper {
		left: 0;
	}
	#wrapper.active {
		position: relative;
		left: 250px;
	}
	#wrapper.active #sidebar-wrapper {
		left: 250px;
		width: 250px;
		transition: all 0.4s ease 0s;
	}
	#menu-toggle {
		display: inline-block;
	}
	.inset {
		padding: 15px;
	}
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
#wrapper {
	padding-left: 175px;
	transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
	margin-left: -250px;
	left: 250px;
	width: 175px;
	background: #222;
	position: fixed;
	height: 100%;
	overflow-y: auto;
	z-index: 1000;
	transition: all 0.4s ease 0s;
}

#page-content-wrapper {
	width: 100%;
}

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar-nav li {
	line-height: 40px;
	text-indent: 20px;
}

.sidebar-nav li a {
	color: #999999;
	display: block;
	text-decoration: none;
}

.sidebar-nav li a:hover {
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
	text-decoration: none;
}

.sidebar-nav li a:active,.sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav li a.active {
	color: #fff;
	background-color: #080808;
}

.sidebar-nav>.sidebar-brand {
	height: 65px;
	line-height: 60px;
	font-size: 18px;
}

.sidebar-nav>.sidebar-brand a {
	color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
	color: #fff;
	background: none;
}

.content-header {
	height: 65px;
	line-height: 65px;
}

.content-header h1 {
	margin: 0;
	margin-left: 20px;
	line-height: 65px;
	display: inline-block;
}

#menu-toggle {
	display: none;
}

.inset {
	padding: 20px;
}

@media ( max-width :767px) {
	#wrapper {
		padding-left: 0;
	}
	#sidebar-wrapper {
		left: 0;
	}
	#wrapper.active {
		position: relative;
		left: 250px;
	}
	#wrapper.active #sidebar-wrapper {
		left: 250px;
		width: 250px;
		transition: all 0.4s ease 0s;
	}
	#menu-toggle {
		display: inline-block;
	}
	.inset {
		padding: 15px;
	}
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.navbar .container-fluid {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.navtop>li>a {
	padding: 15px 10px !important;
}

.footerh {
	height: 40px;
	background-color: #f5f5f5;
	position: fixed;
	height: 100px;
	bottom: 0;
	width: 100%;
}

.container {
	padding-right: 5px !important;
	padding-left: 5px !important;
}

.navbar-right {
	font-size: 13px;
}
/* Animation section */
.animate-enter,.animate-leave {
	-webkit-transition: 625ms cubic-bezier(0.600, 0.040, 0.980, 0.335) all;
	-moz-transition: 625ms cubic-bezier(0.600, 0.040, 0.980, 0.335) all;
	-ms-transition: 625ms cubic-bezier(0.600, 0.040, 0.980, 0.335) all;
	-o-transition: 625ms cubic-bezier(0.600, 0.040, 0.980, 0.335) all;
	transition: 625ms cubic-bezier(0.600, 0.040, 0.980, 0.335) all;
}

.animate-enter {
	left: 100%;
}

.animate-enter.animate-enter-active {
	left: 0;
}

.animate-leave {
	left: 0;
}

.animate-leave.animate-leave-active {
	left: -100%;
}

/* body {
  padding: 40px !important;
} */

/* End of animation section */
.main.container {
	padding-top: 20px;
}

.user-menu {
	font-size: 12px;
}

.user-menu.dropdown-menu {
	min-width: 0 !important;
	font-size: 12px;
}

.user-menu>li>a>i {
	margin-right: 6px;
	font-size: 120%;
}

a i.fa {
	margin-right: 6px;
	font-size: 120%;
}

a .badge {
	margin-left: 5px;
}

.panel-body .row {
	margin-right: inherit;
	margin-left: inherit;
	margin-bottom: 15px;
}

.datepicker.table>thead>tr>th,.datepicker.table>tbody>tr>th,.datepicker.table>tfoot>tr>th,.datepicker.table>thead>tr>td,.datepicker.table>tbody>tr>td,.datepicker.table>tfoot>tr>td
	{
	padding: 0px !important;
}

/* End of Date picker section */
.cra-container {
	/* max-width: 100%;*/
	overflow: auto;
	
}

.cra-container .input-sm {
	padding: 5px 5px;
}

.cra-container a.editable-click {
	padding: 2px 7px;
	border: 1px solid;
	border-radius: 4px;
	font-weight: bold;
	border-color: transparent;
	background-color: #f5f5f5;
}

.cra-container a.editable-click:hover {
	padding: 2px 7px;
	border: 1px solid;
	border-color: #ccc;
}

.cra-table-task {
	min-width: 250px;
}

.scrollable-x {
	max-width: 100%;
	overflow: auto;
}

.scrollable-y {
	max-height: 100%;
	overflow: auto;
}

.cra-we {
	background-color: LightGray;
}

.cra-today {
	background-color: #fcf8e3 !important;
}

.cra-table td {
	text-align: center;
}

.custom-checkbox {
	display: none;
}

.ng-table th {
	text-align: left !important;
}

/* input[type="radio"]+span:before,input[type="checkbox"]+span:before {
	font-family: 'FontAwesome';
	padding-right: 1px;
	font-size: 15px;
} */

/* input[type="radio"]+span:before {
	content: "\f10c"; circle-blank
}

input[type="radio"]:checked+span:before {
	content: "\f111"; circle
}

input[type="checkbox"]+span:before {
	content: "\f096"; check-empty
}

input[type="checkbox"]:checked+span:before {
	content: "\f046"; check
	color: green;
} */
span.icon {
	font-family: FontAwesome;
}

span.validated.icon {
	color: green;
}

span.not-validated.icon {
	color: red;
	content: "\f057";
}

.ng-table.bordered {
	border: 1px solid #ececec;
}

.ribbon {
  background-color: #a00;
  overflow: hidden;
  white-space: nowrap;
  /* top left corner */
  position: fixed;
  left: -50px;
  top: 40px;
  z-index: 1031;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}
.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #444;
}