<form data-role="search">
	<label>Select comparator then value</label>
	<div class="row">
		<div class="col-md-2">
			<div class="radio">
				<label> <input type="radio" name="optionsRadios"
					id="optionsRadios1" data-ng-model="operator" value="equals">
					=
				</label>
			</div>
		</div>
		<div class="col-md-2">
			<div class="radio">
				<label> <input type="radio" name="optionsRadios"
					id="optionsRadios1" data-ng-model="operator" value="lessthan"/>
					Inf
				</label>
			</div>
		</div>
		<div class="col-md-2">
			<div class="radio">
				<label> <input type="radio" name="optionsRadios"
					id="optionsRadios1" data-ng-model="operator" value="greaterthan"/>
					Sup
				</label>
			</div>
		</div>
		<div class="col-md-6">
			<div class="radio">
				<label> <input type="radio" name="optionsRadios"
					id="optionsRadios1" data-ng-model="operator" value="between"/>
					Between
				</label>
			</div>
		</div>
	</div>
	<div class="row" data-ng-show="operator!='between'">
		<div class="">
			<div class="input-group" id="datepicker">
				<input type="number" class=" form-control " name="start"
					data-ng-model="comparatorValue" placeholder="Enter value" />
			</div>
		</div>
	</div>
	<div class="row" data-ng-show="operator=='between'">
		<div class="">
			<div class="input-group" id="datepicker">
				<input type="text" class=" form-control " name="start" 
					data-ng-model="comparatorStartValue" placeholder="From" />
				<span class="input-group-addon"><i class="fa fa-exchange"></i></span><input type="text"
					class=" form-control " name="end" data-ng-model="comparatorEndValue" data-ng-disabled="operator!='between'"
					placeholder="To"/>
			</div>
		</div>
	</div>
	<div class="">
		<button class="btn btn-link"
			data-ng-click="reset()">Reset</button>
		<button class="btn btn-link pull-right"
			data-ng-click="closeFilterContent()">Close</button>
		<button class="btn btn-primary pull-right"
			data-ng-click="onFilterComparator()">Filter</button>
	</div>
</form>
