<div class="hpanel">
	<div class="panel-heading">
		<div data-panel-tools=""></div>
		Available time off
	</div>
	<div class="panel-body">
		<div class="row">
                <div class="col-lg-2" data-ng-repeat="portfolio in absencePortfolio">
                    <div class="widget style1 navy-bg">
                        <div class="row vertical-align">
                            <div class="col-xs-4">
                                {{portfolio.typeAbsenceDTO.label}}
                            </div>
                            <div class="col-xs-8 text-right">
                                <h3 class="font-bold">{{portfolio.remaining}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
		</div>
<!-- 		<div class="progress">
			<div class="progress-bar progress-bar-striped "
				data-ng-class="{'progress-bar-success':$index==1,'progress-bar-warning':$index==2,'progress-bar-info':$index==3,'progress-bar-danger':$index==4}"
				style="width: {{portfolio.remaining*100/totalPortfolioRemaining}}%"	data-ng-repeat="portfolio in absencePortfolio"	title="{{portfolio.typeAbsenceDTO.label}} {{portfolio.remaining*100/totalPortfolioRemaining |number:0 }}%">
				<span class="sr-only">portfolio.remaining*100/totalPortfolioRemaining</span>
				{{portfolio.typeAbsenceDTO.label | characters:15}}
				{{portfolio.remaining*100/totalPortfolioRemaining |number:0 }}%
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-xs-12"
				data-ng-repeat="portfolio in absencePortfolio">
				<div class="col-md-8 col-xs-6">
					<span>{{portfolio.typeAbsenceDTO.label}}: </span>
				</div>
				<div class="col-md-4 col-xs-2">
					<span> <strong>{{portfolio.remaining}}</strong>
					</span>
				</div>
			</div>
		</div> -->
	</div>
</div>
