<div class="modal" id="editionFormModal" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog confirm-modal">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" ng-click="$hide()">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h3 class="panel-title">Please confirm</h3>
			</div>
			<div class="modal-body">
				<ul class="list-inline">
					<li><h4><i class="fa fa-times-circle" style="color: red;"></i></h4></li>
					<li>
						<div class="well well-sm">
							<strong>{{confirmationMessage}}</strong>
						</div>
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success"
					data-ng-click="yes($hide)" data-ng-show="!edition">Yes</button>
				<button type="button" class="btn btn-link" data-ng-click="no($hide)" data-dismiss="modal">No</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
