<div class="row" data-ng-show="employe">
	<div class="col-md-offset-1 col-md-9">
		<img data-ng-src="{{employe.profileImageUrl}}" class="img-thumbnail profile-picture"  max-height="140" max-width="140"
         alt="Generic placeholder thumbnail">
         <button class="btn btn-link">Update Avatar</button>
		<h3><span class="label label-info label-xlg  arrowed-in arrowed-in-right">{{employe.lastName}} - {{employe.firstName}}</span></h3>
		<span class="text-muted">Registered on {{employe.createdDate  | date:'medium'}}</span>
		<div class="row"></div>
		<ul class="nav nav-tabs " role="tablist">
		  <li class="active"><a href="" role="tab" data-toggle="tab" data-ng-click="activateTab('basicInfos')">Basic infos</a></li>
		  <li><a href="" role="tab" data-toggle="tab" data-ng-click="activateTab('administration')">Administration</a></li>
		  <li><a href="" role="tab" data-toggle="tab" data-ng-click="activateTab('salaryInfos')">Salary</a></li>
		  <li><a href="" role="tab" data-toggle="tab" data-ng-click="activateTab('activities')"><i class="fa fa-rss orange"></i> Recent activities</a></li>
		</ul>
		<div class="tab-content">
			  <br>
			  <div class="tab-pane" data-ng-class="{'active' : isActiveTab('basicInfos') }">
			  	<h3 class="header smaller lighter blue">Personal info</h3>
						  	<div class="profile-user-info profile-user-info-striped">
							  <div class="profile-info-row">
							    <div class="profile-info-name hidden-sm hidden-xs">
							      Username
							    </div>
							    <div class="profile-info-value">
							      <span>{{ employe.username }}</span>
							    </div>
							  </div>
							</div>
							<div class="profile-user-info profile-user-info-striped">
							  <div class="profile-info-row">
							    <div class="profile-info-name hidden-sm hidden-xs">
							      First name
							    </div>
							    <div class="profile-info-value">
							      <a href="#" onaftersave="updateEmploye()" editable-text="employe.firstName">{{ employe.firstName || 'empty' }}</a>
							    </div>
							  </div>
							</div>
							<div class="profile-user-info profile-user-info-striped">
							  <div class="profile-info-row">
							    <div class="profile-info-name hidden-sm hidden-xs">
							      Last name
							    </div>
							    <div class="profile-info-value">
							      <a href="#" onaftersave="updateEmploye()" editable-text="employe.lastName">{{ employe.lastName || 'empty' }}</a>
							    </div>
							  </div>
							</div>
							<div class="profile-user-info profile-user-info-striped">
							  <div class="profile-info-row">
							    <div class="profile-info-name hidden-sm hidden-xs">
							     Birth day
							    </div>
							    <div class="profile-info-value">
							      <a href="#" onaftersave="updateEmploye()" editable-date="employe.birthDay">{{ employe.birthDay ? (employe.birthDay | date :'fullDate') : 'empty' || 'empty' }}</a>
							    </div>
							  </div>
							</div>
						  	<div class="profile-user-info profile-user-info-striped">
							  <div class="profile-info-row">
							    <div class="profile-info-name hidden-sm hidden-xs">
							     Gender
							    </div>
							    <div class="profile-info-value">
							      <a href="#" onaftersave="updateEmploye()" editable-radiolist="employe.gender" e-ng-options="c.value as c.text for c in civilities">{{ employe.gender || 'empty' }}</a>
							    </div>
							  </div>
							</div>
							<h3 class="header smaller lighter blue">Contact</h3>
							<div class="profile-user-info profile-user-info-striped">
							  <div class="profile-info-row">
							    <div class="profile-info-name hidden-sm hidden-xs">
							      Email
							    </div>
							    <div class="profile-info-value">
							      <a href="#" onaftersave="updateEmploye()" editable-email="employe.email" >{{ employe.email || 'empty' }}</a>
							    </div>
							  </div>
							</div>
							<div class="profile-user-info profile-user-info-striped">
							  <div class="profile-info-row">
							    <div class="profile-info-name hidden-sm hidden-xs">
							      Tel
							    </div>
							    <div class="profile-info-value">
							     	 <ul class="list-inline">
										<li data-ng-repeat="phoneNumber in employe.phoneNumbers">
											<i class="fa fa-phone"></i>
											<a href="#"  onaftersave="updateEmploye()" editable-tel="employe.phoneNumbers[$index]">{{ employe.phoneNumbers[$index] || 'empty' }}</a>
										</li>
										<li>
											<button class="btn btn-primary btn-xs" data-ng-click="addPhoneNumbers(employe)">Add</button>
										</li>
									</ul>
							    </div>
							  </div>
							</div>
							<div class="profile-user-info profile-user-info-striped">
							  <div class="profile-info-row">
							    <div class="profile-info-name hidden-sm hidden-xs">
							      Street
							    </div>
							    <div class="profile-info-value">
							    	<a href="#" onaftersave="updateEmploye()" editable-text="employe.adress" >{{ employe.adress || 'empty' }}</a>
							    </div>
							  </div>
							</div>
							<div class="profile-user-info profile-user-info-striped">
							  <div class="profile-info-row">
							    <div class="profile-info-name hidden-sm hidden-xs">
							      Code
							    </div>
							    <div class="profile-info-value">
							    	<a href="#" onaftersave="updateEmploye()" editable-number="employe.postCode">{{ employe.postCode || 'empty' }}</a>
							    </div>
							  </div>
							</div>
			  </div>
			  <div class="tab-pane" data-ng-class="{'active' : isActiveTab('administration') }">
			  	<div class="row">
			  	<h3 class="header smaller lighter blue">Manager</h3>
				  <div class="form-group">
				    <label for="manager" class="control-label">Select the manager</label>
				     <select class="form-control" id="manager" allow-single-deselect="true"
							data-chosen="" data-placeholder="Select Manager" data-ng-model="employeManager"
							data-ng-options="format(ce) for ce in companyEmployees track by ce.id">
							<option value=""></option>
					</select>
				  </div>
				  <div class="form-group">
				      <button class="btn btn-success btn-sm pull-right" data-ng-click="updateManager()">
						<i class="fa fa-plus"></i> Update manager
					  </button>
				 </div>
				 </div>
				<div class="row">
					<h3 class="header smaller lighter blue">User rights</h3>
					<div class="form-group">
						<label for="selectUserRights">Employees</label> <select
							class="form-control" id="selectUserRights" class="form-control"
							data-chosen="" data-ng-change="selectProject(project)" multiple
							data-placeholder="Select employee" data-ng-model="userRight"
							data-ng-options="ce for ce in existingRights">
							<option value=""></option>
						</select>
					</div>
					<div class="form-group">
						<button class="btn btn-success btn-sm pull-right"
							data-ng-click="updateUserRights()">
							<i class="fa fa-lock"></i> Update user Right
						</button>
					</div>
				</div>
			</div>
			  <div class="tab-pane" data-ng-class="{'active' : isActiveTab('salaryInfos') }">
			  	Salary
			  </div>
			  
			  <div class="tab-pane" data-ng-class="{'active' : isActiveTab('activities') }">
			  	<activities-timeline data-source="timelineSource"></activities-timeline>
			  </div>
		</div>
	</div>
</div>
<div class="row" data-ng-show="employe==undefined">
No Employe found
</div>

 
